[2020-07-04 15:33] wekitecs opened #20 "Find a solution to replace HTK TextToSpeech"
In GitLab by @BenediktHensen on Jul 4, 2020, 17:33

The HTK TextToSpeech component does not exist anymore in MRTK because it is not cross-platform compatible. We need to find an adequate replacement.

[2020-07-04 15:34] wekitecs commented on #20
In GitLab by @BenediktHensen on Jul 4, 2020, 17:34

changes affect:

* [x] Assets\WEKIT\Player\Scripts\Managers\Maggie.cs

[2020-07-15 17:47] wekitecs commented on #20
In GitLab by @BenediktHensen on Jul 15, 2020, 19:47

mentioned in commit 711eff2a3de6995426f32b6732a8822cf03a9495

[2020-07-15 17:50] wekitecs commented on #20
In GitLab by @BenediktHensen on Jul 15, 2020, 19:50

I re-added the TextToSpeech file of the HTK. According to https://github.com/microsoft/MixedRealityToolkit-Unity/issues/3569 it is working on the HoloLens but for cross-platform support we need a solution that adapts to each platform.

[2020-07-15 17:50] wekitecs commented on #20
In GitLab by @BenediktHensen on Jul 15, 2020, 19:50

unassigned @BenediktHensen

[2020-07-17 13:25] wekitecs commented on #20
In GitLab by @klamma on Jul 17, 2020, 15:25

I like the idea with using an online service for texttospeech

[2020-07-17 13:29] wekitecs commented on #20
In GitLab by @fwild on Jul 17, 2020, 15:29

maybe use RT voice?
https://forum.unity.com/threads/rt-voice-run-time-text-to-speech-solution.340046/

[2020-07-17 13:29] wekitecs commented on #20
In GitLab by @klamma on Jul 17, 2020, 15:29

write a wrapper for offline/online solutions

[2020-09-05 16:20] wekitecs commented on #20
In GitLab by @BenediktHensen on Sep 5, 2020, 18:20

I created a wrapper that can be used to switch between different text to speech solutions. For now, we have native support for UWP apps.

Here is some more research on possible text to speech APIs/plugins that we could include:

**Native plugins:**

| Solution | Comment | Pricing | Link |
| --- | --- | --- | --- |
| Speech And Text in Unity iOS a

[2020-09-10 21:15] wekitecs commented on #20
In GitLab by @BenediktHensen on Sep 10, 2020, 23:15

removed milestone

[2020-09-14 09:38] wekitecs commented on #20
In GitLab by @fwild on Sep 14, 2020, 11:38

Here is an example of how to use Watson: https://github.com/Yu713/daimon

I like Watson - been around for a while and works well. It does cost money (caps the requests, if we run out of quota), the free version takes us only that far. Moreover, the best way to configure it is with a credentials file that is excluded in the gitignore. This way, users of M

[2020-09-20 20:37] wekitecs opened #101 "Implement the sensor status window"
In GitLab by @BenediktHensen on Sep 20, 2020, 22:37

For details on the design visuals, see #73.

**This task is not urgent and currently has a low priority. Please, work on other tasks first.**

Implement the window that shows the status of the connected sensors.

Steps that this task involves:

* Copy the mock up and organize it in a way that you can easily switch between the different display s

[2020-11-16 10:45] wekitecs opened #158 "Markers: make more flexible"
In GitLab by @fwild on Nov 16, 2020, 11:45

3 scenarios:
- calibrate once for all activities (the Mars rover case): new ticket: https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/594
- don't calibrate at all, but allow manual placement or automated placement of objects based on their space requirements (the digital twin case)
- calibrate in each activity (and describe how to place the physica

[2020-11-16 10:46] wekitecs commented on #158
In GitLab by @fwild on Nov 16, 2020, 11:46

or maybe try out the vuforia model recognition

[2020-12-17 18:38] wekitecs commented on #158
In GitLab by @william.guest on Dec 17, 2020, 19:38

i am currently investigating options for 3D model markers and any new (2020) pipelines for markers based on captured images.

[2021-01-06 12:24] wekitecs opened #175 "Co-Learner body pose tracking"
In GitLab by @fwild on Jan 6, 2021, 13:24

Investigate possibilities with OpenPose, MediaPipe, or similar for tracking to use persons' whole body as a target

[2021-01-06 12:25] wekitecs commented on #175
In GitLab by @fwild on Jan 6, 2021, 13:25

Can we place a 3D chest model relative to the OpenPose tracked shoulders? Zoom it to fit the tracked body dimensions?

[2021-01-07 11:15] wekitecs opened #178 "Breakout test project 'face tracking'"
In GitLab by @fwild on Jan 7, 2021, 12:15

- download an example vocal tract OBJ for a specific phoneme (e.g. "P", "TH", "A") from https://www.vocaltractlab.de/index.php?page=vocaltractlab-download
- use face tracking (AR foundation?) to detect face position
- overlay 3D face model (like in lens studio) with the right lip-sync position on the position where the user's face is
- change lip colour t

[2021-01-21 13:18] wekitecs opened #207 "Prompts to paid options to the free version"
In GitLab by @endrit.kromidha on Jan 21, 2021, 14:18

It would be good to have an option to prompt users for paid features while they use the free version. For example, 3 activities free, but when they try to create a 4th one they are prompted to get in touch for a paid version.

[2021-01-21 15:24] wekitecs commented on #20
In GitLab by @BenediktHensen on Jan 21, 2021, 16:24

unassigned @BenediktHensen

[2021-01-21 15:43] wekitecs commented on #207
In GitLab by @fwild on Jan 21, 2021, 16:43

Would be an option if in the business plan we foresee to release the app and make money of a freemium model - at the moment this is not a plan! And I think we need to think this through very carefully - this can quite easily turn people away. Not saying that content will always be free - it costs something to produce content, and this should be honoured

[2021-01-26 08:52] wekitecs opened #221 "Use human faces as markers"
How cool would it be, if one could create augmentations like here:
https://youtu.be/9fuLRm7Xo-A?t=858

This way, we could easily use role play in learning experiences (speech bubble "ask me about my health", then maybe some day even use speech recognition as trigger to check if somebody did?).

[2021-01-26 11:49] wekitecs commented on #175
In GitLab by @wild on Jan 26, 2021, 12:49

See here for Miguel's investigation: https://docs.google.com/document/d/19X4M-KBNWcfRFWbUQukVQtd6_Ct_L6Pghhg28uT8fjw/edit

[2021-01-28 14:22] wekitecs commented on #158
In GitLab by @wild on Jan 28, 2021, 15:22

The last bullet point is already a ticket on its own: https://platform.xr4all.eu/wekit-ecs/mirage-xr/issues/147

[2021-01-28 14:26] wekitecs commented on #158
In GitLab by @william.guest on Jan 28, 2021, 15:26

Consider calibrating per-space rather than per-activity. Also manual placement of an origin.

[2021-02-01 09:26] wekitecs opened #229 "Sign appxbundle with certificate"
In GitLab by @BenediktHensen on Feb 1, 2021, 10:26

At the moment, the appxbundle installer files are signed with a generic test certificate. It is only valid for one year after the compilation. This also means that the customers can only use the application for one year without updating to a newer version or asking us for a re-compile.

We should consider creating an own, longer-lasting certifica

[2021-02-03 10:18] wekitecs commented on #229
In GitLab by @william.guest on Feb 3, 2021, 11:18

@BenediktHensen do you see this as part of sprint 5, or it comes later?

[2021-02-03 10:30] wekitecs commented on #221
In GitLab by @william.guest on Feb 3, 2021, 11:30

related to #178

[2021-02-03 10:56] wekitecs commented on #229
In GitLab by @BenediktHensen on Feb 3, 2021, 11:56

Yes, we should realize this quickly if we want to provide longer-lasting builds to customers.

[2021-02-04 14:21] wekitecs opened #235 "Android CI pipeline"
In GitLab by @BenediktHensen on Feb 4, 2021, 15:21

Create the CI job that builds the Android installer.

[2021-02-08 15:41] wekitecs opened #244 "Holographic AI: whiteboard writing"
In GitLab by @wild on Feb 8, 2021, 16:41

Teach the AI character how to write on a whiteboard: user can paint with a finger in thin air (or on a wall). Hanna then can use the finger movement to animate how she writes something on the whiteboard.

[2021-02-08 15:42] wekitecs opened #245 "Holographic AI: learning the dialogue"
In GitLab by @wild on Feb 8, 2021, 16:42

It is possible to create dialogue (and associated intents) via the Watson API. The API allows to create a new dialogue step programmatically is documented here: https://cloud.ibm.com/apidocs/assistant/assistant-v1?code=dotnet-standard#createdialognode (also checkout the documentation for intents and workspaces).

It might be a good feature that the author

[2021-02-09 08:57] wekitecs opened #251 "UI for Kids (Android/iOS)"
In GitLab by @william.guest on Feb 9, 2021, 09:57

Create a child-friendly interface for mobile platforms.

[2021-02-12 16:07] wekitecs opened #267 "Spatial UX: SR4: Responsive Task Card"
The task card should have three states: minimized (e.g., when the user is further than 3 meters away), expanded (e.g., when the user is closer than 3 meters), and focused – full view (e.g., activated by gazing at the card). The task card should have three options for spatial positioning: home (attached to the task station), smart (following the user), and manual (placed anywhere by the user).

[2021-02-15 10:56] wekitecs opened #274 "Provide Templates for Learning Activities"
In GitLab by @wild on Feb 15, 2021, 11:56

Authors of learning activities need more guidance. We need a mechanism for providing "blueprints" for an AR learning experiences. This of course would require to be able to look through (maybe even search through) the library of existing templates. Each template should guide the author through creating the learning experience, step by step.

For example,

[2021-02-16 16:47] wekitecs commented on #158
In GitLab by @wild on Feb 16, 2021, 17:47

Would be cool to try and lay out the whole activity (orient, maybe even resize) according to the space available from the spatial map - for those activities where the task station locations are marked as "flexible" (or some such).

[2021-02-16 16:59] wekitecs commented on #251
In GitLab by @wild on Feb 16, 2021, 17:59

Ideally, we can switch the UI from adult to kid-friendly via the PlatformManager - reading values from a config file for the CI build pipeline? The kiddie friendly version is for the ARETE PBIS use case, but we need to have a grown up version, too.

[2021-02-16 17:14] wekitecs commented on #101
In GitLab by @wild on Feb 16, 2021, 18:14

I think we can move this to Sprint 6 - and also connect this with the discussion about Digital Twin integration: https://platform.xr4all.eu/gemini/gemini

In principle, the workplace model should be the place, where sensor data streams are described. Parsing it gives a list of variables available, for example. Using the mapping tables we invented for Gemi

[2021-02-16 23:36] wekitecs commented on #251
In GitLab by @cawke on Feb 17, 2021, 24:36

Do you want the children's version to be a separate app? I thought it would be a separate window with settings where you could choose which interface to display.

[2021-02-16 23:37] wekitecs commented on #251
In GitLab by @cawke on Feb 17, 2021, 24:37

and are there more specific requirements as to what the interface should look like for children?

[2021-02-17 11:00] wekitecs commented on #251
In GitLab by @wild on Feb 17, 2021, 12:00

I like the idea that you can choose in the configuration panel :)

[2021-02-18 14:41] wekitecs opened #294 "Compress audio"
In GitLab by @wild on Feb 18, 2021, 15:41

As mp3 or something smaller than wave?

[2021-02-18 14:42] wekitecs opened #295 "Compress video"
In GitLab by @wild on Feb 18, 2021, 15:42

Compress to MP4 or MKV or something that works across platforms to save space. Might be useful to check ffmpeg for that.

[2021-02-18 16:42] wekitecs commented on #294
In GitLab by @wild on Feb 18, 2021, 17:42

There seem to be a gazillion LameMp3 converters, but getting something cross platform will be hairy.

[2021-02-24 11:47] wekitecs commented on #251
In GitLab by @wild on Feb 24, 2021, 12:47

Move to Sprint 6?

[2021-02-24 11:50] wekitecs commented on #20
In GitLab by @wild on Feb 24, 2021, 12:50

Move to Sprint 6? We can look at this together with the Watson integration for Holographic AIs - or the MAAIND toolkit integration.

[2021-02-24 11:51] wekitecs commented on #251
In GitLab by @cawke on Feb 24, 2021, 12:51

I think yes

[2021-02-24 11:52] wekitecs commented on #158
In GitLab by @wild on Feb 24, 2021, 12:52

Option 3 is a separate ticket and being worked on. Moving the rest to Sprint 6, as related to Spatial Understanding tickets.

[2021-02-24 11:58] wekitecs opened #302 "Documentation checker CI pipeline"
In GitLab by @wild on Feb 24, 2021, 12:58

We should write a documentation checker that requires documentation of classes and methods (like in the R package development for CRAN). Only when the documentation is complete, it should be allowed to merge?

[2021-02-25 21:16] wekitecs commented on #158
In GitLab by @a85jafari on Feb 25, 2021, 22:16

Why we do not just set the origin as the player position with z = 0 (y in Unity) . We can ask the player to press a button when ready to calibrate the activity or whatever.

[2021-02-26 13:15] wekitecs commented on #158
In GitLab by @wild on Feb 26, 2021, 14:15

A good use case to keep in mind is that this is to transfer content recorded on one airplane to a second airplane of the same model in a different hangar.

[2021-03-01 11:38] wekitecs opened #312 "Possibility to launch feedback survey after learning experience"
In GitLab by @wild on Mar 1, 2021, 12:38

We need to be able to schedule evaluation questionnaires from within the app.

[2021-03-18 15:08] wekitecs opened #336 "Syntax formatting"
In GitLab by @wild on Mar 18, 2021, 16:08

Can we include some automated syntax formatting? Or is that something people feel offended by?

[2021-03-19 19:03] wekitecs commented on #336
In GitLab by @a85jafari on Mar 19, 2021, 20:03

StypeCop is a free VS extension that can be used for that.
https://marketplace.visualstudio.com/items?itemName=ChrisDahlberg.StyleCop

[2021-03-25 14:35] wekitecs opened #349 "Integrate StyleCop with CI pipeline"
In GitLab by @a85jafari on Mar 25, 2021, 15:35

We need to integrate the code style checker, StyleCop with the CI pipeline.

https://marketplace.visualstudio.com/items?itemName=ChrisDahlberg.StyleCop

[2021-04-01 14:13] wekitecs commented on #229
In GitLab by @BenediktHensen on Apr 1, 2021, 16:13

The certificate can be written into the repository's secrets.
From there, they can be pulled into the CI runner for each run.

[2021-04-01 20:34] wekitecs commented on #101
In GitLab by @a85jafari on Apr 1, 2021, 22:34

removed milestone

[2021-04-01 20:36] wekitecs commented on #244
In GitLab by @a85jafari on Apr 1, 2021, 22:36

removed milestone

[2021-04-13 15:30] wekitecs opened #370 "Forensics Demo ('crime house')"
In GitLab by @wild on Apr 13, 2021, 17:30

### Crime scene investigation (aka bring a crime house to your living room)

It is all about procedure. We need possibly even three units (First time: fully guided process, Next time: assist process, Third time: assessment).

A lot of it is about collecting evidence: find items and preserve as evidence. For example, in a domestic violence incident context

[2021-04-15 17:56] wekitecs commented on #158
In GitLab by @a85jafari on Apr 15, 2021, 19:56

removed milestone

[2021-04-18 13:24] wekitecs commented on #20
In GitLab by @a85jafari on Apr 18, 2021, 15:24

@wild Is this free?!
https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/overview

[2021-04-22 09:08] wekitecs commented on #235
In GitLab by @BenediktHensen on Apr 22, 2021, 11:08

Currently on hold until the error with the sign tool (#377) is fixed.

[2021-04-22 10:16] wekitecs opened #383 "Calibration: store room model (player)"
Safe the room model to Moodle, together with position of calibration marker. Together with [ticket](https://github.com/WEKIT-ECS/MIRAGE-XR/issues/945), this will to build a Moodle analytics page, which provides a quick, visual overview of whether people are doing what they need to do (using, e.g., planar projection of user trail and task stations).

[2021-04-22 14:53] wekitecs opened #387 "Placement of activity (as alternative to calibration)"
In GitLab by @wild on Apr 22, 2021, 16:53

Calculate a box model from the augmentations in all the action steps, or provide a grayed out preview, and allow the user to place the content in the room in a way that it will work and lay out in full. At this stage, one could also allow to zoom in or out.

[2021-04-29 13:23] wekitecs opened #392 "grid view for activities (HL1+2)"
In GitLab by @wild on Apr 29, 2021, 15:23

Replace the current list view with a grid view - also fixing the bug that when on page 2, searches with fewer results produce errors.

Related ticket: https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/236

[2021-04-29 19:23] wekitecs commented on #392
In GitLab by @a85jafari on Apr 29, 2021, 21:23

@wild We had a ticket which was closed and I reopened it during the meeting.
https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/184

Please close one of them.

[2021-05-04 16:16] wekitecs opened #401 "Testing: do we need to test platform specific tests?"
In GitLab by @wild on May 4, 2021, 18:16

With the complexity we reached now, features can be implemented differently on different platforms. Do we need to "switch" build target to run the tests?

[2021-05-06 12:59] wekitecs commented on #235
In GitLab by @BenediktHensen on May 6, 2021, 14:59

Might require #402 to be realized first in order to get the updated Gradle version that ships with Unity.

[2021-05-12 13:04] wekitecs opened #416 "Ghost: add eye tracking"
In GitLab by @wild on May 12, 2021, 15:04

Show cone for where expert looks? Show laser pointer target in the environment? suppress gaze when looking at UI elements?

[2021-05-14 13:01] wekitecs opened #418 "Pipeline preview builds: correct version number"
In GitLab by @wild on May 14, 2021, 15:01

At the moment, pipeline builds not always get the right version number - the most recent, for example, got a 1.4.0.0, so the same number as the stable release. Before we often had the situation that the previews would still have the version number of the old version. This prevents updating existing installs - and forces to uninstall first (and loose all l

[2021-05-18 13:00] wekitecs opened #425 "if-rules"
In GitLab by @wild on May 18, 2021, 15:00

The standard supports to query the xAPI and use results in if-rules (to decide on branching). This should be implemented - this is more on the level of the action step, and is on the same level as "augmentation" or "instruction", so might possibly be added rather in the action list? with a separate editor panel that unfolds?

[2021-05-20 22:12] wekitecs opened #429 "Finetune calibration marker"
In GitLab by @wild on May 21, 2021, 24:12

The distance of the camera to the marker is quite tricky to get right, especially, when the marker is lying flat on a surface, rather than hanging on the wall. But even on the wall, you have to have quite a specific distance, at which point you cannot see the overlay in full anymore - so it kind of seduces the user to go further away again, stopping the c

[2021-05-21 11:37] wekitecs opened #431 "photograph evidence that you did a step by the book"
In GitLab by @wild on May 21, 2021, 13:37

It would be a great feature if we had an augmentation, that requires the user (only in playmode!) to take a picture of a learning outcome - which then is uploaded to Moodle (under 'assignments' or somewhere useful), not stored in the ARLEM, of course.

This would help design learning activities, where the user has to document something, rather than just f

[2021-05-27 13:19] wekitecs opened #443 "Data model updater"
In GitLab by @wild on May 27, 2021, 15:19

Safe the version number of MirageXR / ARLEM experimental in the ARLEM activity model. Write updater class that converts versions in a cascading way? Once we introduce breaking changes, we need this.

[2021-05-27 13:22] wekitecs opened #444 "Refactor ActivityManager"
In GitLab by @wild on May 27, 2021, 15:22

Increase performance and clear from clutter. Also the WorkplaceManager (to stage rendering better). And related classes (like EventManager).

[2021-05-27 13:25] wekitecs commented on #443
In GitLab by @wild on May 27, 2021, 15:25

Could use GraphQL? https://graphql.org/code/#php

[2021-05-27 13:41] wekitecs opened #446 "Save glyphs (glTF?) with the ARLEM zip"
In GitLab by @wild on May 27, 2021, 15:41

So that we can also interpret old files, even if we change or remove glyphs.

[2021-05-27 14:19] wekitecs opened #447 "Calibration alternative: manual placement"
Instead of using a calibration marker for the whole activity, it should be possible to define in the recorder that task stations can be placed manually. If all task stations are placed manually or are placed via image marker, then the whole activity no longer requires calibration with the calibration marker, and the calibration instructions should be suppressed.

Info whether a task station can be

[2021-06-01 11:20] wekitecs opened #454 "Check upgrade of rendering pipeline"
In GitLab by @wild on Jun 1, 2021, 13:20

Test especially how it affects Vuforia

[2021-06-02 14:45] wekitecs opened #455 "Set up approval rules for merge requests?"
In GitLab by @wild on Jun 2, 2021, 16:45

We should discuss whether we make peer review mandatory for code before merge: https://docs.gitlab.com/ee/user/project/merge_requests/approvals/rules.html

[2021-06-02 15:46] wekitecs opened #456 "Objects are too easily moved by accident when authoring (edit mode only)"
In GitLab by @william.guest on Jun 2, 2021, 17:46

This is particularly important for large models or situations where you overlay one model onto another (e.g. ribcage and patient).

One possible solution is to add a lock button, the effect which could disable the object manipulator and perhaps change the colliders associated with the object, to prevent losing access to smaller models placed insid

[2021-06-08 14:50] wekitecs opened #461 "Remoting Spectator View"
In GitLab by @wild on Jun 8, 2021, 16:50

Could we shoot some films using this?
https://github.com/vbandi/RemotingSpectatorView

[2021-06-10 12:53] wekitecs commented on #431
In GitLab by @a85jafari on Jun 10, 2021, 14:53

Can you please add a description :)

[2021-06-10 13:50] wekitecs opened #463 "Calibration marker: phase out vuforia on mobiles"
In GitLab by @wild on Jun 10, 2021, 15:50

Use platform IF statements to use an alternative ARfoundation implementation for mobile platforms, but leave it for hololens. Once this (and https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/462) are implemented, we should make sure that Vuforia is switched off on mobiles.

Also includes https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/390 an

[2021-06-11 10:41] wekitecs opened #467 "Add separate config files for different apps"
In GitLab by @wild on Jun 11, 2021, 12:41

So that we can compile multiple apps with pipeline jobs, by simply copying the config file (or command line switching the config file that shall be used). So: there would be three config files for the moment: mirageXRconfig-ARETE.txt, mirageXRconfig-OpenReal.txt and mirageXRconfig-WEKIT.txt

[2021-06-11 10:42] wekitecs commented on #467
In GitLab by @wild on Jun 11, 2021, 12:42

Config file name should probably be added to the BrandManager as well, so that its clear, which config file is used, and manual builds can quickly switch.

[2021-06-15 09:49] wekitecs opened #469 "User-generated input: 'editable' augmentations in PlayMode"
In GitLab by @wild on Jun 15, 2021, 11:49

To support learners in capturing input, we might want to allow augmentations to stay 'editable' when switching to PlayMode. The author sets a check box "[x] entered by user" (or so). The learner is then prompted in PlayMode to edit the augmentation: take a photo, record a ghost, record an audio, etc.

This also is very relevant for the idea of 'activity t

[2021-06-15 09:52] wekitecs commented on #274
In GitLab by @wild on Jun 15, 2021, 11:52

We could simply provide a checkbox somewhere that says "[ ] activity template", which then lists them in the system with a boolean flag as template. Might be useful to provide an alternative search for blueprint templates, so that they do not clutter up the usual list of activities.

[2021-06-15 09:54] wekitecs commented on #274
In GitLab by @wild on Jun 15, 2021, 11:54

This might require an augmentation "authoring hint" (or "editing hint" or "template instruction") with text / audio, that is only visible in edit-mode and is not displayed to the learners in play-mode.

[2021-06-18 13:50] wekitecs opened #473 "Switch off augmentations selectively based on if-rules from xAPI queries"
In GitLab by @wild on Jun 18, 2021, 15:50

Allow to switch off an augmentation, if e.g. a certain practice level (or proficiency level = outcomes) is reached (level 0: learn, level 1: rehearse, level 3: assess), or if the user entered a specific place (e.g.: show 3D hospital bed when at home, but use real bed when at hospital). This makes activities more adaptive, but in a very automated way.

[2021-06-21 12:22] wekitecs commented on #463
In GitLab by @wild on Jun 21, 2021, 14:22

@robhillman97 you are working on this already, right? want to claim the ticket or is this a duplicate?

[2021-06-21 12:28] wekitecs commented on #463
In GitLab by @robhillman97 on Jun 21, 2021, 14:28

Yes im working on this, I have included it as part of #390. I'll assign it to me now

[2021-06-21 12:35] wekitecs commented on #463
In GitLab by @robhillman97 on Jun 21, 2021, 14:35

Same goes for #462

[2021-06-22 10:38] wekitecs commented on #463
In GitLab by @wild on Jun 22, 2021, 12:38

perfect - dupe identified, dupe nuked.

[2021-06-24 13:15] wekitecs opened #480 "Hololens: image marker: viewfinder with autocrop?"
In GitLab by @wild on Jun 24, 2021, 15:15

We could display a rectangle in the field of view which defines exactly what
the marker will photograph (to get a similar effect as on the mobile platforms).
this would likely require a smaller rectangle (so as to be visible) and then
automatically cropping the image to the viewfinder area (bit of geometry involved).

[2021-06-27 21:15] wekitecs commented on #431
In GitLab by @wild on Jun 27, 2021, 23:15

done - altered the description above.

[2021-06-29 14:36] wekitecs opened #487 "CI pipeline for previews: Merge request details in preview release notification"
In GitLab by @wild on Jun 29, 2021, 16:36

Would be cool, if we had more info in the slack notification - such as title and description of the merge request that lead to the pipeline preview build. And the branch name?

[2021-07-01 13:40] wekitecs opened #488 "GhostTrack: add finger tracking"
In GitLab by @wild on Jul 1, 2021, 15:40

MRTk now allows for tracking fingers - we should add this for the ghost (making sure that on mobiles - and HL1? it has a graceful degradation).

[2021-07-08 14:14] wekitecs opened #491 "Break down ActivityManager and WorkplaceManager into more modular classes"
In GitLab by @BenediktHensen on Jul 8, 2021, 16:14

The ActivityManager and WorkplaceManager are quite monolithic classes. They start with a JSON string and from there on, parsing, creating the GameObjects, setting the scene up, creating connections between objects is all happening in one big method.

We should separate both classes into a series of smaller chunks. My proposal would be:
- The Acti

[2021-07-08 14:33] wekitecs opened #494 "Refactor unnecessary update methods into event-driven logic"
In GitLab by @BenediktHensen on Jul 8, 2021, 16:33

Check the code for Update and LateUpdate methods. Some of them just check every frame if a value has changed and then react to that change. If the change only happens occasionally, it is better to transform the part into an observer pattern: The observing class subscribes to an event that is raised if the value changes.
Since these change of the

[2021-07-08 14:39] wekitecs opened #495 "Investigate how to load content like the avatars dynamically"
In GitLab by @BenediktHensen on Jul 8, 2021, 16:39

We should not package large content like the avatars completely in the installation file. Instead, it makes sense to distribute them via loadable packages.

The proposed solution here is to have a package manager in the application where you can opt in or out of this additional content, similar to the activity loader. For instance, you can select

[2021-07-09 06:44] wekitecs commented on #495
In GitLab by @a85jafari on Jul 9, 2021, 08:44

Currently the character models will be saved in the zip file. We have their assetbundles in the project folder. We can upload them(assetbundles) somewhere and download them when needed. So we can delete all models and prefabs from project.
We can do that for glyphs too.

[2021-07-09 06:47] wekitecs opened #496 "Find a way to replace GameObject.Find"
In GitLab by @a85jafari on Jul 9, 2021, 08:47

Find a way to replace GameObject.Find and transform.FindDeepChild with methods which are not depend to the names.

[2021-07-12 07:08] wekitecs opened #497 "Create a pool of symbols for ISS world"
In GitLab by @a85jafari on Jul 12, 2021, 09:08

Create a pool of symbols that could be useful in the ISS world.

[2021-07-12 07:09] wekitecs opened #498 "Create a pool of actions ISS-like"
In GitLab by @a85jafari on Jul 12, 2021, 09:09

Create a pool of actions ISS-like, possibly with animations.

[2021-07-22 08:18] wekitecs opened #503 "Document Existing Code"
In GitLab by @BenediktHensen on Jul 22, 2021, 10:18

We should write documentation for the existing code to make it easier for new developers to join and to maintain a shared understanding of the code base.

This includes both in-code [XML comments](https://docs.microsoft.com/de-de/dotnet/csharp/language-reference/xmldoc/) for **public** methods, plain `//` comments for **private** methods and hig

[2021-07-22 14:11] wekitecs commented on #235
In GitLab by @a85jafari on Jul 22, 2021, 16:11

Related to #402

[2021-07-31 15:11] wekitecs opened #513 "[ULE-Issue007] Lack of scale function"
In GitLab by @s.thanyadit on Jul 31, 2021, 17:11

Users cannot change the scale of 3D objects to grab learners’ attention, this is important for 3D objects such as pictures, labels, and visual effects (VFX).

Suggest solutions: provide handle widgets for scale manipulation

[2021-07-31 15:22] wekitecs opened #520 "[ULE-Issue014] 3D objects are not snapped to surfaces"
In GitLab by @s.thanyadit on Jul 31, 2021, 17:22

Users cannot judge whether 3D objects are placed on the surface or floating, which can make objects such as waypoints or characters appear unnatural.

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/4fa2bd40352b4e86efb24f59e14c90ad/image.png)

Suggest solution: snap 3D objects to surface, wall, or floor when nearby.

[2021-08-04 18:28] wekitecs opened #534 "Register xAPI profile"
In GitLab by @wild on Aug 4, 2021, 20:28

I think we should register an xAPI profile for MirageXR here https://profiles.usalearning.net/

[Here](https://adlnet.gov/webinars/20210721-Designing-and-Testing-xAPI-Profiles-Using-the-xAPI-Profile-Server-and-DATASIM/) is a recorded talk explaining how it works.

[2021-08-06 09:48] wekitecs commented on #520
In GitLab by @a85jafari on Aug 6, 2021, 11:48

Characters will be snapped when they follow a path but when there is only one node the gravity will be disabled for avoiding falling into the ground. Also this let the user to move the characters freely wherever.
For other models like sketchpad models or glyphs, it is the behavior that we expect because to let the user to move them easily. Not all mod

[2021-08-06 09:59] wekitecs commented on #513
In GitLab by @a85jafari on Aug 6, 2021, 11:59

Some model can be resized. We need to investigate which augmentations do not have this functionality and add it to them. The scale should be store in ToggleObject.scale

[2021-08-06 10:50] wekitecs commented on #503
In GitLab by @a85jafari on Aug 6, 2021, 12:50

@cawke @BenediktHensen @a85jafari @william.guest @robhillman97 @john.murphy2 @BorisJov This ticket is for all developers. Please try to add documentation for your existing code and the codes you will write in the future.

[2021-08-06 10:54] wekitecs commented on #495
In GitLab by @a85jafari on Aug 6, 2021, 12:54

unassigned @a85jafari

[2021-08-06 11:04] wekitecs commented on #469
In GitLab by @a85jafari on Aug 6, 2021, 13:04

@wild But these playmode created contents will not be saved somewhere right? maybe only sending a rapport to xAPI?

[2021-08-09 07:53] wekitecs opened #540 "Mobiles: Move '+' button ('add step')"
In GitLab by @a85jafari on Aug 9, 2021, 09:53

I think the add button on bottom of the page is confusing and the user thinks it is for adding a new augmentation ( I did it self many times be specific for HL users that has this button on bottom of the annotation list)
I think this button should be moved beside the delete icon on top of the page.

[2021-08-09 08:09] wekitecs opened #541 "Encoding for different type of language"
In GitLab by @a85jafari on Aug 9, 2021, 10:09

Currently input fields support only Latin alphabet, If you add Russian, Arabic ,... it will be displayed as rectangles. Maybe we need change the encoding to UTF-8?

[2021-08-10 08:19] wekitecs opened #542 "Sketchfab client data in repository"
In GitLab by @william.guest on Aug 10, 2021, 10:19

The client id and secret should not be in the publicly available gitlab repository, but are there.

[2021-08-10 13:01] wekitecs commented on #542
In GitLab by @wild on Aug 10, 2021, 15:01

sketchfabclient.json is already in the the gitignore. Remove it from repo?

[2021-08-10 13:03] wekitecs commented on #542
In GitLab by @wild on Aug 10, 2021, 15:03

and the meta file?

[2021-08-10 13:20] wekitecs commented on #520
In GitLab by @wild on Aug 10, 2021, 15:20

I feel we can improve this for character models - but not sure how exactly. The falling through the ground issue is significant - without a ground plane, we cannot allow gravity to pull the character model down. Will is working on a ground plane algorithm from the Spatial Understanding - maybe this will be the solution in the future?

[2021-08-11 14:58] wekitecs commented on #469
In GitLab by @wild on Aug 11, 2021, 16:58

Needs discussion. I see several options: either we store the user generated content in the Moodle plugin in some sort of assessments table, or we foresee that the user uploads a new ARLEM (which contains the user generated content). In case of the latter, we still would have to link it somehow to the original resource - as some sort of submission. The xAP

[2021-08-12 13:39] wekitecs opened #551 "Sketchfab secret: CI pipeline support"
In GitLab by @wild on Aug 12, 2021, 15:39

Put the content of the json file into a Gitlab secret variable; add support to the pipeline that as first step, ECHO the variable into the SketchfabClient.json in the correct location (Assets\MirageXR\Common\Resources\Credentials).

[2021-08-12 13:39] wekitecs commented on #551
In GitLab by @wild on Aug 12, 2021, 15:39

Alternative: Unity remote?

[2021-08-12 13:53] wekitecs commented on #551
In GitLab by @BenediktHensen on Aug 12, 2021, 15:53

The echo would be the immediate solution for the current situation. It requires every developer to locally set up the json file and its content needs to be tracked in Gitlab secrets. If there are updates to it, each developer needs to manually update the file.

More comfortable would be a solution with a key vault where the secrets are stored ce

[2021-08-25 19:48] wekitecs opened #564 "Fix the mesh artefacts on character model 'fridolin'"
In GitLab by @wild on Aug 25, 2021, 21:48

There are still some artefacts - quite possibly Xinyu has fixed these already? But they are not in 1.6.

[2021-08-25 19:49] wekitecs commented on #564
In GitLab by @wild on Aug 25, 2021, 21:49

![1.6-fridolin-front](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/29e44ed1d69c271feffefe3ea00d597a/1.6-fridolin-front.jpg)

![1.6-fridolin-back](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/762097b6cf79820ce42112d771c1aa78/1.6-fridolin-back.jpg)

[2021-09-02 09:49] wekitecs opened #579 "new 'warnings' augmentation"
In GitLab by @wild on Sep 2, 2021, 11:49

Add a 'warnings' augmentation with the ISO warnings/hazard signs. The player already supports this (though it might require a renaming to "warnings" to be P1589-2020 standard compliant, and it may not do it 'by the book' - see below) - and the full set of all ISO hazard and warning sign symbols is already in the repo (called SymbolSprites).

Visually, this

[2021-09-02 10:19] wekitecs commented on #579
In GitLab by @a85jafari on Sep 2, 2021, 12:19

@wild I think this is a duplicated issue #301

[2021-09-08 11:14] wekitecs opened #586 "V1.6 android crash on open"
In GitLab by @s.thanyadit on Sep 8, 2021, 13:14

Consistent crash on open on Android 11 (Oxygen OS 11.0.10.10 KB05AA)
One Plus 8T (Snapdragon 856, 12GB Ram)

Initial troubleshooting included
uninstall then reinstall, and restart the phone, clear application cache.
I can also share the log file if you tell me the location.

[2021-09-10 09:24] wekitecs opened #591 "Plugin Augmentation: save asset is in ARLEM zip"
In GitLab by @wild on Sep 10, 2021, 11:24

Test the following use case: save the default plugin, and then replace it online through the moodle with a new AssetBundle, also giving it a new name. Check if the activity can be played and edited without crashing.

[2021-09-10 10:23] wekitecs opened #592 "Performance Measurement"
In GitLab by @wild on Sep 10, 2021, 12:23

Can we measure performance of the overall system? Measuring how long which dialogue takes to appear, how long which augmentation takes to load and display? So that we can make targeted performance improvements... This guide may be useful: https://codereality.net/ar-for-eu-book/chapter/development/tools/unity/advanced/performanceProfiling/

[2021-09-10 10:26] wekitecs opened #593 "Collections / tree for 3D model"
In GitLab by @wild on Sep 10, 2021, 12:26

We should offer collections for 3D models (preselected 'useful' content), such as:

[code]

etc.

[2021-09-10 10:40] wekitecs commented on #178
In GitLab by @wild on Sep 10, 2021, 12:40

MediaPipe and the MediaPipe Unity plugin seem to support this cross platform. Equally, AR foundation is offering this, but not yet on all platforms.

[2021-09-10 10:52] wekitecs commented on #336
In GitLab by @wild on Sep 10, 2021, 12:52

@BenediktHensen didn't you recently add something like this?

[2021-09-10 11:03] wekitecs commented on #101
In GitLab by @wild on Sep 10, 2021, 13:03

We might have a usecase at the OU for this. To be explored (with Kadmiel Maseyk).

[2021-09-10 11:09] wekitecs commented on #20
In GitLab by @wild on Sep 10, 2021, 13:09

We have now added Watson support and can look at the speech input/output in this context.

[2021-09-10 12:18] wekitecs commented on #586
In GitLab by @wild on Sep 10, 2021, 14:18

v1.6 (installed over the previous version) works here without crash (Samsung S9, Android 10, up to date with OS updates). This could likely be something system specific. Have you tried to open the app another time after the crash?

It may be that it is Android 11 - Samsung has not rolled out version 11 yet. Android 10 is api level 29 (released 2019), Andr

[2021-09-10 12:54] wekitecs commented on #579
In GitLab by @wild on Sep 10, 2021, 14:54

yes. Its a duplicate. I will edit the above and close the old one.

[2021-09-10 14:44] wekitecs commented on #469
In GitLab by @wild on Sep 10, 2021, 16:44

After discussion: some parts should be logged to xAPI, if there is more data, then xAPI log statement should link to Moodle URL with the data. User generated content data should be stored always in Moodle (but can, e.g. measured values, also additionally be stored in the LRS).

[2021-09-10 14:52] wekitecs commented on #520
In GitLab by @wild on Sep 10, 2021, 16:52

@a85jafari this was now refactored, so that the marker ring around the character is tacked to the floor plane (slightly above), right? Please confirm.

[2021-09-10 14:53] wekitecs commented on #540
In GitLab by @wild on Sep 10, 2021, 16:53

I think we discussed in one of the last meetings to add two + buttons, one for augmentation, another one for adding a step - on the action list middle dialogue on mobiles. No?

[2021-09-10 15:02] wekitecs opened #596 "Multiple sounds annotations in the same step"
In GitLab by @fominykh on Sep 10, 2021, 17:02

When the user adds multiple sound annotations in the same step, it is hard to distinguish them from each other. The 3D sound annotations have a visual representation, but the icon looks the same. Maybe we can add a number to the icon and use the same number to refer to the annotation in the list of annotations? Audio 1, Audio 2, etc.

Another improvem

[2021-09-10 15:05] wekitecs commented on #463
In GitLab by @wild on Sep 10, 2021, 17:05

@robhillman97 is this done already or still has to happen?

[2021-09-10 15:12] wekitecs opened #598 "Glyph should have an option to snap their rotation to round angles (e.g., point straight down or 90 degrees)"
In GitLab by @fominykh on Sep 10, 2021, 17:12

Currently, the user in edit mode can rotate the glyphs as any other augmentation.
Experimenting with the "Locate" glyph, I found it is difficult to rotate it so that it points straight down. Maybe, we can have an option to snap to at least the 6 axis directions? In my opinion, this will cover most of the use cases: location on the floor, on a wall, et

[2021-09-10 15:20] wekitecs opened #599 "Interacting with Aura icons is hard"
In GitLab by @fominykh on Sep 10, 2021, 17:20

Currently, I have difficulty interacting with the icons on the Aura (e.g., Home icon). When I look down to see the Aura and the icons, the HoloLens 2 stops tracking my hands (even though the hands are still within the fov).
Maybe I simply need a tip on how to do it?
To reproduce,
* look straight ahead, raise your hands in front of you
* Hololens can t

[2021-09-10 15:22] wekitecs commented on #418
In GitLab by @wild on Sep 10, 2021, 17:22

This is still the case. Pipeline builds now are advertised correctly, but in the build itself, the app version number is not automatically updated - it stays at the value it is set to in the last commit.

[2021-09-10 17:45] wekitecs opened #603 "Improve position of activity list for when sitting at desk"
In GitLab by @fominykh on Sep 10, 2021, 19:45

Starting the app when sitting in front of the desk results in the activity list appearing much lower than expected (sometimes below the desk). This is visible on the screenshot.

At the same time, the Aura is often spawned on the desk - recognizing a large horizontal surface of the desk as the floor.

The issue does not appear when starting the app wh

[2021-09-10 19:17] wekitecs commented on #586
In GitLab by @a85jafari on Sep 10, 2021, 21:17

I think the best way to find out the issue on a specific device is checking the logcat and see an error that either Android or Unity writes.
This post can help:
https://answers.unity.com/questions/1543369/how-can-i-debug-my-android-build-when-it-crashes-a.html

[2021-09-10 19:23] wekitecs commented on #596
In GitLab by @a85jafari on Sep 10, 2021, 21:23

For the last issue we can add a inputfield on audio editor which allows the user to add the start time of the audio. Then the audio will be started on that time after the step is loaded.

[2021-09-13 08:17] wekitecs commented on #596
In GitLab by @wild on Sep 13, 2021, 10:17

Agree - this would be a good solution: delay: x.x sec.

[2021-09-13 08:19] wekitecs commented on #586
In GitLab by @wild on Sep 13, 2021, 10:19

@s.thanyadit can you please check and see what the logcat shows?

[2021-09-13 08:25] wekitecs commented on #599
In GitLab by @wild on Sep 13, 2021, 10:25

I generally find interacting with the "home" icon on the aura tricky - as I am quite tall and I have to slouch to be able to track my hands. Something to do with the angle, I suspect. Maybe we should move the "home" icon further up? Maybe someone has a better idea for how we could improve the "home" icon?

[2021-09-13 08:25] wekitecs commented on #586
In GitLab by @a85jafari on Sep 13, 2021, 10:25

@s.thanyadit You can download only Platform tools using the link bellow, if you do not have Android Studio installed on your system.
https://developer.android.com/studio/releases/platform-tools

[2021-09-13 08:34] wekitecs commented on #603
In GitLab by @wild on Sep 13, 2021, 10:34

Positioning should be easy - currently the activity list is placed quite low. Regarding aura or optimal placement: without spatial understanding and a floor plane detection, this will not go anywhere. Is Will's spatial understanding code already merged?

[2021-09-13 08:50] wekitecs commented on #586
In GitLab by @s.thanyadit on Sep 13, 2021, 10:50

Sorry for the late reply,

Please see the attached the logcat [crashlog.txt](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/92288c3ea89046f43aceede3ad7195a7/crashlog.txt)

[2021-09-13 09:28] wekitecs commented on #586
In GitLab by @a85jafari on Sep 13, 2021, 11:28

@cawke Could you please check the logcat?

[2021-09-13 12:28] wekitecs commented on #586
In GitLab by @wild on Sep 13, 2021, 14:28

These entries in the logcat are funny:

09-13 09:45:52.124 10004 20771 W Unity   : The referenced script (Microsoft.MixedReality.Toolkit.WindowsMixedReality.WindowsMixedRealityCameraSettingsProfile) on this Behaviour is missing!
09-13 09:45:52.124 10004 20771 W Unity   : (Filename:  Line: 199)
09-13 09:45:52.124 10004 20771 W Unity   :
09-13 09:45:52.124

[2021-09-15 09:20] wekitecs commented on #480
In GitLab by @wild on Sep 15, 2021, 11:20

@robhillman97 is this still needed? I think you resolved this differently now?

[2021-09-15 09:22] wekitecs opened #607 "Integrate Mirror API for collaboration"
In GitLab by @wild on Sep 15, 2021, 11:22

Add the libraries and make sure the project compiles cross platform. Write a test function that tests whether the service works. Mirror: https://github.com/vis2k/Mirror

[2021-09-15 09:26] wekitecs commented on #603
In GitLab by @wild on Sep 15, 2021, 11:26

Simple fix (for now): optimise placement of the activity list, so it works, when sitting at a desk AND when standing. Once we have spatial understanding, I propose we add a new ticket that optimises placement of the UI elements using the room layout (height: dependant on floor plane; orientation: dependent on available walls).

[2021-09-15 09:27] wekitecs commented on #480
In GitLab by @robhillman97 on Sep 15, 2021, 11:27

I think this was ment to be more of an alternative to the current solution. Replacing the cropping with a view finder. I'm not completely sold on the idea as I think it could be frustrating trying to keep your head still while lining up the image. But it could be somthing to look into in the future

[2021-09-15 12:35] wekitecs commented on #586
In GitLab by @cawke on Sep 15, 2021, 14:35

Yes, sure.

[2021-09-15 15:43] wekitecs commented on #540
In GitLab by @BorisJov on Sep 15, 2021, 17:43

Is this a duplicate of #552 ? Can they be combined?

[2021-09-15 15:46] wekitecs commented on #540
In GitLab by @wild on Sep 15, 2021, 17:46

yes!

[2021-09-15 15:59] wekitecs commented on #540
In GitLab by @BorisJov on Sep 15, 2021, 17:59

marked this issue as related to #552

[2021-09-16 11:29] wekitecs commented on #463
In GitLab by @BorisJov on Sep 16, 2021, 13:29

Is this the same as #537?

[2021-09-16 13:45] wekitecs commented on #463
In GitLab by @BorisJov on Sep 16, 2021, 15:45

marked this issue as related to #537

[2021-09-16 13:47] wekitecs commented on #463
In GitLab by @BorisJov on Sep 16, 2021, 15:47

@robhillman97 Please close if it's done :)

[2021-09-17 05:47] wekitecs opened #612 "Enterprise configurator"
In GitLab by @wild on Sep 17, 2021, 07:47

We should have an enterprise configurator - a new Moodle plugin, which allows to store all logos, select the colours, enter all the urls and generate the config files. Added to the admin menu. But how can this plugin talk to a purchase system and setup fork/ci pipeline?

[2021-09-17 05:51] wekitecs opened #613 "Luvmi plugin with 'go here' pathfinder"
In GitLab by @wild on Sep 17, 2021, 07:51

### Luvmi plugin with 'go here' pathfinder

For the space scientists, we would need [https://luvmi.space](the rover) integrated (it’s from a small company in Belgium and we have the OU PI support as well as their in principle agreement. Would also be cool if we had the teachable agent function here (gaze cursor and “luvmi, let’s go” or air tap).

[2021-09-17 05:52] wekitecs opened #614 "UX/UI: UX7: Label anchors"
Allow to set an anchor, so that the label can be tied to a specific location in 3D space, but floats intelligently to make space if needed. Improve lay-out (e.g., margins, padding).

[2021-09-17 09:57] wekitecs opened #615 "xAPI logging of eye tracking"
In GitLab by @wild on Sep 17, 2021, 11:57

When user's eyes focus on something (a 'fixation point'), we can log this to the xAPI, as it is harder evidence of cognitive engagement then the augmentation simply being 'activated'. This xapi statement should not replace the existing ones, but additionally log the eye tracking evidence.

This requires:

* Setup (eye-tracking is already active, at least

[2021-09-21 12:34] wekitecs opened #618 "Delete resume state when locally deleting activity"
In GitLab by @wild on Sep 21, 2021, 14:34

When you download an activity, then go a few steps in, then exit and locally remove the activity (via trash icon on activity list), and re-download, then the activity is still resuming on the last action step the user saw. This is an uncommon behaviour for the user.

[2021-09-27 11:13] wekitecs commented on #592
In GitLab by @william.guest on Sep 27, 2021, 13:13

created branch [`592-performance-measurement`](/wekit-ecs/mirage-xr/-/compare/master...592-performance-measurement) to address this issue

[2021-09-27 11:23] wekitecs opened #620 "Check memory usage against theroretical maximum"
In GitLab by @william.guest on Sep 27, 2021, 13:23

The HoloLens (1 and 2) have a theroretical limit of 900 MB RAM usage during operation. Certainly approaching this value will cause a decrease in performance and could potentially trigger the OS to force-close the application. This issue is to investigate the practical limits and determine failure modes when these limits are hit.

[2021-09-27 11:25] wekitecs commented on #592
In GitLab by @william.guest on Sep 27, 2021, 13:25

marked this issue as related to #620

[2021-09-27 11:25] wekitecs commented on #620
In GitLab by @william.guest on Sep 27, 2021, 13:25

marked this issue as related to #592

[2021-09-27 11:26] wekitecs commented on #620
In GitLab by @william.guest on Sep 27, 2021, 13:26

as discussed in #590, it appears that the 900 MB threshold is crossed and this might be responsible for the app restarting. having added the MRTK diagnostic system, a first run shows that we are approaching this value:

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/89e184f718a4a811befa633be8925165/image.png)

[2021-09-28 14:41] wekitecs commented on #542
In GitLab by @wild on Sep 28, 2021, 16:41

This can be done in the same way as proposed here: https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/611

[2021-09-28 15:16] wekitecs commented on #586
In GitLab by @cawke on Sep 28, 2021, 17:16

@s.thanyadit can you check this build?

https://drive.google.com/file/d/1zW3RXkjch8gIsQtr2LfNJoCL6xpqdG78/view?usp=sharing

[2021-09-28 15:45] wekitecs commented on #586
In GitLab by @s.thanyadit on Sep 28, 2021, 17:45

@cawke I checked it and it's still crash on launch after the logo splash screen.
Please find the crash log attached.

[crashlog.txt](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/a7aa3a4aa1223f4f35e211e507b4ff55/crashlog.txt)

[2021-09-28 23:03] wekitecs commented on #586
In GitLab by @cawke on Sep 29, 2021, 01:03

@s.thanyadit thanks. Looks like an error in the native library.
Can you check another build? I removed vuforia from this build.

https://drive.google.com/file/d/1QnHwofYMEwFPLghbpkEMNtns3YSYbh9o/view?usp=sharing

[2021-09-28 23:31] wekitecs commented on #586
In GitLab by @s.thanyadit on Sep 29, 2021, 01:31

@cawke still crash right after grant camera permission, please see the logcat attached. PS. After I see Main camera is missing, I checked permission, the app has access to camera.

[crashlog.txt](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/da266e6195ea170808f54391845584b1/crashlog.txt)

[2021-09-30 14:12] wekitecs opened #625 "3D model: Add a third tab 'my models' for authenticated users"
In GitLab by @wild on Sep 30, 2021, 16:12

And list the models uploaded to this new functionality: https://github.com/ARETEedu/moodle-ARLEM_repository/issues/40

[2021-09-30 16:01] wekitecs opened #626 "Alien and Student Animations for PBIS"
In GitLab by @mariellafarella on Sep 30, 2021, 18:01

Add animations regarding the alien pushing the student and the student's reaction to the push. These animations can be applied to implement the unexpected behavior for the "target walk".
The sent files contain two folders, student and alien.
Animation 01a of the alien should be associated with 01a of the student and animation 01b of the alien w

[2021-10-01 11:15] wekitecs opened #628 "Mobile: Pick&Place 3D model selection"
In GitLab by @wild on Oct 1, 2021, 13:15

The 3D model selection feature does not work on mobile UI. On worldspace UI, you click the "select model" button beside the 3D arrow in the scene, then you click on a 3D model in the augmentation list. Afterwards the 3D model in the augmentation list is removed from display.

[2021-10-07 14:02] wekitecs opened #631 "facade for 3D model importer"
In GitLab by @wild on Oct 7, 2021, 16:02

Wrapper around sketchfab, so we can a) have other interfaces to other services (like planned Moodle private models list) and b) can become more error tolerant.

[2021-10-08 10:50] wekitecs opened #633 "Black solid skies"
In GitLab by @a85jafari on Oct 8, 2021, 12:50

Currently all scenes have the default hdr sky which will be visible on android build on app start. Change the skies to a solid black.

Connected to:
https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/762 (relocate logos)
https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/764 (swipe through basic concepts at app start)

[2021-10-08 10:53] wekitecs commented on #586
In GitLab by @a85jafari on Oct 8, 2021, 12:53

@s.thanyadit Could you please test v1.7 on your mobile and check it still crashes?

https://drive.google.com/drive/folders/1VopbW07QnGIuJO3HVhekZxJrI8Y9ZZQs

[2021-10-08 11:04] wekitecs commented on #586
In GitLab by @s.thanyadit on Oct 8, 2021, 13:04

still crash on start

Here is the logcat
[crashlog.txt](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/86f3886cab1f4baebe983855959a4f5a/crashlog.txt)

[2021-10-11 09:38] wekitecs commented on #542
In GitLab by @a85jafari on Oct 11, 2021, 11:38

Needs IBM credential file creation problem in pipeline to be fixed, before doing this ticket.

[2021-10-11 11:11] wekitecs commented on #542
In GitLab by @wild on Oct 11, 2021, 13:11

What's the status with the IBM credentials? Did the last attempt not work that you tried?

[2021-10-13 16:00] wekitecs commented on #598
In GitLab by @a85jafari on Oct 13, 2021, 18:00

@fominykh I added bounding boxes and I think it make it easy to rotate the glyphs only in a specific axis. Maybe it solve this ticket. It can be tested on dev branch

[2021-10-13 16:09] wekitecs commented on #598
In GitLab by @fominykh on Oct 13, 2021, 18:09

@a85jafari I can test on H1 on Thursday afternoon.

[2021-10-13 18:29] wekitecs commented on #598
In GitLab by @wild on Oct 13, 2021, 20:29

I think this is more about magnetic alignment to other objects or to the spatial map - and then it applies to all augmentations?

[2021-10-15 19:52] wekitecs opened #638 "Tiltbrush augmentation paints in player"
In GitLab by @wild on Oct 15, 2021, 21:52

When loading an activity that has a drawing augmentation in it (or when switching to playmode), the tiltbrush is still in draw mode, leaving brush strokes behind.

[2021-10-22 13:14] wekitecs opened #643 "ActivityManager: break up into multiple classes"
In GitLab by @wild on Oct 22, 2021, 15:14

The ActivitManager class is overloaded: it does parsing, setup, starting, managing, editing, ...

Some of the tasks that this class currently has and which should all be separated into own classes:

- [ ] ```ActivityModel```
- [ ] ```ActivityLoader```
- [ ] ```ActivityParser```
- [ ] ```ActivityView```
- [ ] ```ActivitySceneSetup```
- [x] ```WorkplaceCont

[2021-10-22 14:02] wekitecs opened #651 "ActivityManager: ActivityLoader: refactor the way loading works"
In GitLab by @wild on Oct 22, 2021, 16:02

ActivityManager uses string parsing to identify which access method should be used. The code for that is not clean - and error prone (e.g. ```activity.StartsWith("http")``` is used to capture both http and https, but does not check if followed by ```://```). Moreover, some of these protocol checks are used wrongly - for referencing local files inside of t

[2021-10-22 14:15] wekitecs opened #653 "ActivityManager: switch (trigger.mode)"
In GitLab by @wild on Oct 22, 2021, 16:15

Rewrite the ```switch (trigger.mode)``` to something more efficient - using a factory pattern. Beware - we cannot break the data structure of ARLEM, but we of course can properly parse this in the new ActivityParser into something more useful.

[2021-10-22 14:21] wekitecs opened #654 "ActivityManager: rewrite RemoveObject() and the RestoreObjects if statements"
In GitLab by @wild on Oct 22, 2021, 16:21

This seems to be the anchor for the low performance of loading and of the keep alive feature: when a 3D model is kept alive across three action steps, it currently is deactivated and then reactivated in every step. Especially with bigger 3D models (e.g. the hospital bed in ECG activity), this is very visible as the gameobjects are destroyed, not just disa

[2021-10-22 14:50] wekitecs opened #657 "ActivityManager: remove commented out code"
In GitLab by @wild on Oct 22, 2021, 16:50

The method ```CopyAll()``` seems not to be needed anymore.

[2021-10-22 16:19] wekitecs commented on #643
In GitLab by @cawke on Oct 22, 2021, 18:19

I'm not sure if we need an `ActivityRecorderController`.
we already have an `ActivityRecorderService `class, the functionality of which will probably be part of the `ActivitySceneManager `class

[2021-10-23 10:33] wekitecs opened #658 "CalibrationTests Activity_LoadResources playmode test throws a NullReferenceException"
In GitLab by @BenediktHensen on Oct 23, 2021, 12:33

This happens both locally and in the CI pipeline but has not been visible in the latest pipelines as someone deactivated the unit test jobs.

The test logs the following statements:

[code]

[2021-10-23 18:35] wekitecs opened #660 "Update Activity and Workplace classes"
In GitLab by @wild on Oct 23, 2021, 20:35

Check through the whole data model against IEEE P1589-2020 and do the last mile fine tuning.

[2021-10-27 14:30] wekitecs commented on #638
In GitLab by @a85jafari on Oct 27, 2021, 16:30

I tried different solution but none of them worked. Sent a message to Said. I'll continue this issue after his response.

[2021-10-28 13:43] wekitecs commented on #643
In GitLab by @wild on Oct 28, 2021, 15:43

marked the task **```ActivityParser```: Parse activity: Split this into the actual data parsing and into logic that applies data to the scene (ActivitySetup). One of the main things that makes this method problematic is that you cannot just parse the activity on a data level and, e.g., inspect in the code what it contains. By calling the current method ``

[2021-10-28 13:43] wekitecs commented on #643
In GitLab by @wild on Oct 28, 2021, 15:43

marked the task **```ActivityParser```: Parse activity: Split this into the actual data parsing and into logic that applies data to the scene (ActivitySetup). One of the main things that makes this method problematic is that you cannot just parse the activity on a data level and, e.g., inspect in the code what it contains. By calling the current method ``

[2021-10-28 13:48] wekitecs commented on #643
In GitLab by @wild on Oct 28, 2021, 15:48

marked the task **```Activity.cs```: Data model, already exists** as completed

[2021-10-28 14:13] wekitecs commented on #599
In GitLab by @BenediktHensen on Oct 28, 2021, 16:13

Yes, there seems to be an angle limit at which the HoloLens input does not allow you to point downwards further.

A quick fix might be to increase the size of the aura so that the home icon is not so close in front of you.

Other than that, I would also say that we should move the icons up so that they are something like 20cm above the aura. Thi

[2021-10-28 21:28] wekitecs opened #662 "Tutorial for Mobile UIs"
In GitLab by @BorisJov on Oct 28, 2021, 23:28

Similar to the Hololens version, a tutorial should be created for the Mobile UIs. The new TutorialManager should be used for this purpose.

[2021-10-29 12:50] wekitecs opened #667 "Adding the improved step trigger to audio and video augmentation"
In GitLab by @a85jafari on Oct 29, 2021, 14:50

Currently we have added the improved step trigger which allows to jump to any steps, to label, act and vfx augmentations. The audio and video still have the old version of step trigger which allows only jumps to the next step. Consider to add the new step trigger to audio and video augmentation as well.

[2021-11-01 12:06] wekitecs opened #674 "None of interactable objects works when the action list is unlocked"
In GitLab by @a85jafari on Nov 1, 2021, 13:06

When the user unlocks the action list, none of the interactable objects (e.g. thumbnail button and activity name input field) work anymore. The user currently needs to lock the panel again before being able to interact. Find a way to make it work even when the panel is unlocked?

[2021-11-01 12:16] wekitecs opened #675 "Line from task station to menus not rotating proberly"
The thin white line from the task station diamond to the augmentation list / task card sometimes goes astray, because it does not rotate properly with the diamond. Investigate and fix.

When you move the task station around the binding line between taskcard and the task station faces the player all the time. But it does not happen for the binding line between the taskstation and the annotation but

[2021-11-01 12:21] wekitecs opened #676 "Editor panel showing up even if task station detail menu is closed"
In GitLab by @a85jafari on Nov 1, 2021, 13:21

As you know there is a close button on top of the annotations list which allows the user close all menus attached to the diamond. It works fine but when it is closed and you turn on the edit mode editor panel will be activated while the other panels still are closed as expected.

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/718ccfe7

[2021-11-02 15:02] wekitecs opened #683 "Mobile: augmentation controls for rotate / resize are too fiddly"
In GitLab by @wild on Nov 2, 2021, 16:02

The bounding boxes for rotation/resizing are in some cases almost impossible to use on a mobile device (e.g., for the character model) - even on a big iPad it can still be tricky. Participants today were struggling a lot with the controls - can't we use some screen space rotation/resize controls alternatively?

[2021-11-02 15:06] wekitecs opened #686 "Mobile: Character model: context panel fiddely to use"
In GitLab by @wild on Nov 2, 2021, 16:06

The edit panel for the character model (the one to its right) is fiddly to use on mobiles - we need this to be with a screen space menu.

[2021-11-02 15:11] wekitecs opened #688 "Mobile: Moving task station is too fiddly"
In GitLab by @wild on Nov 2, 2021, 16:11

We need to find a better way to move the task stations around - at the moment, users often shift the task station into infinity - then causing all sorts of other problems, because the task station is far away. Can we maybe do something with hovering a ring over the spatial map - plus an additional screen-space lever to move the task station up or down?

[2021-11-02 15:13] wekitecs opened #689 "Mobile: rotation / movement of task station is too fiddly"
In GitLab by @wild on Nov 2, 2021, 16:13

It is rather tricky to move the task station around on mobile UI - maybe we need to switch to a "joystick" approach? With an on screen joystick and up/down lever to move the task station around alternatively? At the moment, the diamons are too easily moved by users into far distance.

[2021-11-02 15:16] wekitecs commented on #586
In GitLab by @wild on Nov 2, 2021, 16:16

We encountered a second Samsung device (using also Android 11) that crashed after the splash screens played. This is the configuration used:

![android-11-crash-Screenshot_20211102-142338_Settings](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/f22481b6002fadde2a55286e1ca24da6/android-11-crash-Screenshot_20211102-142338_Settings.jpg)

[2021-11-02 15:16] wekitecs commented on #586
In GitLab by @wild on Nov 2, 2021, 16:16

The device belongs to @smasneri - he is very technically capable and can help bug track :)

[2021-11-02 16:46] wekitecs opened #692 "Stop image marker tracking if an image marker is stationary to improve stability"
In GitLab by @robhillman97 on Nov 2, 2021, 17:46

Currently if a marker is tracked the task station will constantly update its position to match the marker. If the marker is stationary than this can cause the task station to jitter about, to stop this the tracking should be stopped if the marker is not moving

[2021-11-03 09:04] wekitecs opened #700 "tiltbrush augmentation offset wrong in player (all platforms)"
In GitLab by @wild on Nov 3, 2021, 10:04

The tiltbrush augmentation jumps about 1-1.5m away from the user in the playmode.

[2021-11-04 14:34] wekitecs commented on #235
In GitLab by @BenediktHensen on Nov 4, 2021, 15:34

Currently waiting for #658 to get fixed.

[2021-11-04 14:58] wekitecs commented on #586
In GitLab by @s.thanyadit on Nov 4, 2021, 15:58

My android version for comparison
![Screenshot_20211104-145706](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/7500372237ab62bd0e2e68213c58629a/Screenshot_20211104-145706.jpg)

[2021-11-04 15:04] wekitecs opened #710 "Register windows store developer account"
In GitLab by @wild on Nov 4, 2021, 16:04

Investigate and buy if needed: Windows developer certificate

[2021-11-04 15:05] wekitecs opened #711 "Build windows installer"
In GitLab by @wild on Nov 4, 2021, 16:05

Visual studio provides installer compilation (right click on solution in solution explorer) - both apps can be put into one release. Apps need to be signed with trusted developer certificate.

[2021-11-04 15:06] wekitecs opened #712 "Windows store release"
In GitLab by @wild on Nov 4, 2021, 16:06

Release stable 1.8 to store

Release notes:
https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/707

Privacy policy:
https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/717

[2021-11-04 15:07] wekitecs opened #713 "Screenshots hololens 1 / 2"
In GitLab by @wild on Nov 4, 2021, 16:07

[2021-11-04 15:20] wekitecs opened #722 "Register windows store account"
In GitLab by @wild on Nov 4, 2021, 16:20

[2021-11-04 15:51] wekitecs commented on #658
In GitLab by @wild on Nov 4, 2021, 16:51

@cawke I think you said today you resolved this and are pushing it? When done, please close.

[2021-11-04 16:12] wekitecs opened #723 "Better exception handling for crashing augmentation editors"
In GitLab by @wild on Nov 4, 2021, 17:12

When something breaks, it often breaks more of the functionality - e.g., the + button for adding new action steps stopped working when the ghost recording broke. Maybe we can try/catch this better?

[2021-11-04 16:18] wekitecs commented on #692
In GitLab by @wild on Nov 4, 2021, 17:18

This may require checking if the position is stable for a couple of frames - so as to avoid making it stationary in the one frame where it is slightly off due to a reflection (or similar).

[2021-11-05 13:21] wekitecs commented on #586
In GitLab by @wild on Nov 5, 2021, 14:21

This seems to be the documentation:
https://developers.google.com/ar/develop/unity-arf/android-11-build

[2021-11-05 13:22] wekitecs commented on #586
In GitLab by @wild on Nov 5, 2021, 14:22

And https://developers.google.com/ar/develop/unity-arf/android-12-build

[2021-11-09 14:06] wekitecs opened #727 "Plugin does not save the prefab"
In GitLab by @wild on Nov 9, 2021, 15:06

Please write the prefab of the plugin into the zip file, so it can be downloaded and changed!

At the moment, the workplace model only lists as manifest URL the path to the resource that is shipped with the MirageXR app ("Prefabs/Plugins/CubeNetPlugin/CubeNetPlugin"), but it should be possible that users upload their own prefabs to the Moodle and use it he

[2021-11-09 14:36] wekitecs commented on #235
In GitLab by @wild on Nov 9, 2021, 15:36

I think this is fixed (#658)

[2021-11-09 16:43] wekitecs commented on #689
In GitLab by @wild on Nov 9, 2021, 17:43

I think placement of task stations could be like depicted here:
https://www.youtube.com/watch?v=orV8d3A32Ew

User has to map the environment; then can see how the shadow of the task station moves over the map; tap to place - and then use a slider to decide, whether the task station needs to move up or down (0m to 3m, default value 1.20m).

[2021-11-09 16:44] wekitecs commented on #683
In GitLab by @wild on Nov 9, 2021, 17:44

How about:
user can tap an augmentation and a slider appears for size - on screen space.

[2021-11-11 14:36] wekitecs opened #731 "Activities from old version cannot be opened on newer versions"
In GitLab by @a85jafari on Nov 11, 2021, 15:36

I created an activity using v1.7 on hololens but the app crashed on mobile when I opened that activity.

[2021-11-11 14:53] wekitecs commented on #722
In GitLab by @wild on Nov 11, 2021, 15:53

@fominykh are you taking care of this?

[2021-11-15 10:05] wekitecs opened #735 "Investigate sketchfab auth between versions"
In GitLab by @wild on Nov 15, 2021, 11:05

On Hololens, I had to uninstall 1.7 and fresh install 1.8, to force log out of sketchfab, as the model augmentation would not download models (search works, though, but no downloads). It may have something to do with security of sketchfab and we thus might require a log out button as well? Worth investigating!

[2021-11-15 10:07] wekitecs commented on #683
In GitLab by @wild on Nov 15, 2021, 11:07

Or we increase the boundary box handles?

[2021-11-15 10:44] wekitecs opened #737 "Investigate: is the manual copy by code of the watson credentials really necessary"
In GitLab by @wild on Nov 15, 2021, 11:44

Since we fixed the yml pipeline file, I suspect that the file copy of the .txt file using AppStart.cs is not required anymore. But since this involves testing on probably all platform pipeline builds, let's do that after Online Educa Berlin.

[2021-11-15 10:46] wekitecs commented on #675
In GitLab by @wild on Nov 15, 2021, 11:46

Also sometimes, the line goes into the far distance.

[2021-11-15 10:53] wekitecs opened #738 "Add all app icons to the BrandConfiguration.cs"
In GitLab by @wild on Nov 15, 2021, 11:53

We currently seem to set only one main app icon, not all needed for all platforms.
@robhillman97 which icons do we use?

[2021-11-15 12:02] wekitecs commented on #738
In GitLab by @robhillman97 on Nov 15, 2021, 13:02

When I set the Icons I set them in the player settings in unity, I haven't added anything to BrandConfiguration.cs as I didn't know we used it for the icons. Currently the default icon is set to "Wekit-logo-v7-300x300":

![DefIcon](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/eb125bc191d58dde3bc544da9d275366/DefIcon.png)

However, for Ho

[2021-11-18 14:50] wekitecs commented on #710
In GitLab by @BorisJov on Nov 18, 2021, 15:50

marked this issue as related to #711

[2021-11-18 14:50] wekitecs commented on #711
In GitLab by @BorisJov on Nov 18, 2021, 15:50

marked this issue as related to #710

[2021-11-18 14:52] wekitecs commented on #710
In GitLab by @BenediktHensen on Nov 18, 2021, 15:52

Before we buy the certificate, we should check if Microsoft provides a certificate to us once we register a developer account or when we try uploading the app. It might be that we do not need to generate our own one but that Microsoft generates one for us.

[2021-11-22 12:08] wekitecs opened #746 "Warnings in editor strange behavior"
In GitLab by @robhillman97 on Nov 22, 2021, 13:08

When first starting the app in the unity editor I get these warnings in the console:

![ErrorsAndWarnings1a](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/e0ea52c8bc80447547af91d1b4c036bf/ErrorsAndWarnings1a.png)

When creating or loading an activity for the first time I also get 8 more warnings:

![ErrorsAndWarnings_2](https://platform.x

[2021-11-23 09:53] wekitecs commented on #746
In GitLab by @wild on Nov 23, 2021, 10:53

Hm. It seems we need to have a stricter protocol for testing before commits? Something like this should never go into an active code tree :(

[2021-11-23 09:53] wekitecs commented on #746
In GitLab by @wild on Nov 23, 2021, 10:53

Thanks for testing! Hopefully you can track down what is causing this...

[2021-11-23 16:04] wekitecs opened #747 "Import Mirror library"
In GitLab by @wild on Nov 23, 2021, 17:04

Import the package and write a test that checks if it works

[2021-11-23 16:04] wekitecs opened #748 "Collaboration: C5: on-site and off-site"
Support on-site users with shared AR content and off-site users with shared AR content and a room model (see also 'Digital Twin of Room').

This includes:

- [ ] Refactor the EventManager and events to become compatible with real-time sharing of all editing events (like OnTaskStationMoved). [Here](https://github.com/WEKIT-ECS/MIRAGE-XR/wiki/Events) is the current list of events for both player and

[2021-11-23 16:06] wekitecs opened #749 "Collaboration: C2/C3: Create new service for collaboration"
Wrapper for PhotonEngine, also with base class to allow replacing photon with other, native implementations (e.g. mirror) as fallback.

Foresee functionality for:

- [x]  Session Management: Initiate a collaboration session by inviting team members or sharing join code, so that the participants can securely access the collaborative session.
- [ ] Match making: Allow matchmaking (e.g., 1st 4 into r

[2021-11-23 16:07] wekitecs opened #750 "Activities as rooms"
Activities have a unique ID, which can be used to create an associated "room" - for editing or for viewing. This should be useful when registering master host and the clients. Masters invite or clients request to join - and masters acknowledge. This could all work on the existing activity list UI - just indicating that owner=master is in and clients can now join. Only owner can initiate sharing.

[2021-11-23 16:13] wekitecs opened #752 "Collaboration: Add test"
Add test to test battery that checks if configuration is available (so as to avoid pipeline builds that lack an API key file)

[2021-11-23 16:13] wekitecs opened #753 "Hello World example"
In GitLab by @wild on Nov 23, 2021, 17:13

Integrated a very simple hello world sharing example

[2021-11-23 16:15] wekitecs commented on #713
In GitLab by @cawke on Nov 23, 2021, 17:15

unassigned @cawke

[2021-11-24 23:19] wekitecs opened #757 "Missing Mailserver on V-Server"
In GitLab by @neumann on Nov 25, 2021, 24:19

Moodle (and LRS) have to send emails.
- [x] Install smtp server on the V-Server

[2021-11-24 23:19] wekitecs commented on #757
In GitLab by @neumann on Nov 25, 2021, 24:19

marked the task **Install smtp server on the V-Server** as completed

[2021-11-24 23:20] wekitecs commented on #757
In GitLab by @neumann on Nov 25, 2021, 24:20

I installed postfix and entered the address in the moodle email config section.

[2021-11-25 14:56] wekitecs commented on #746
In GitLab by @BenediktHensen on Nov 25, 2021, 15:56

The DontDestroyOnLoad warning happens if you call that function on a child GameObject instead of the parent object. I think it could be the case for some of the managers. Anyway, it is generally recommended to not use DontDestroyOnLoad anymore but to manage the GameObjects in different scenes if they should persist throughout the runtime. We cou

[2021-11-25 14:57] wekitecs commented on #746
In GitLab by @BenediktHensen on Nov 25, 2021, 15:57

The warning about Visual Studio is simple to fix, just update the Visual Studio Editor package in Unity's package manager.

[2021-11-25 15:01] wekitecs commented on #746
In GitLab by @BenediktHensen on Nov 25, 2021, 16:01

The warnings "The referenced script on this Behaviour is missing" are broken components where the actual source code MonoBehaviour class was deleted or renamed without properly updating the scene references. For these, it would be necessary to check each GameObject in scenes and prefabs to find the broken components. After that, it is necessary

[2021-11-30 17:22] wekitecs opened #760 "JQuery on Moodle theme"
In GitLab by @a85jafari on Nov 30, 2021, 18:22

We get a message from Moodle which is just the code for importing jqury library. Investigate if the js file on src exist.

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/e65f42d2c68e2b24eefaf5970bb4521e/image.png)

[2021-12-01 16:05] wekitecs opened #761 "Video tutorials for each augmentation"
In GitLab by @robhillman97 on Dec 1, 2021, 17:05

Based on a discussion with users of Mirage it would be useful for new users to be able to access video tutorials for each augmentation. Currently getting started with authoring can be overwhelming and the in app tutorial doesn't provide enough detail on how individual augmentations work. Whilst we could (and probably should) improve the in app tuto

[2021-12-07 18:31] wekitecs opened #762 "Relocate logos"
In GitLab by @endrit.kromidha on Dec 7, 2021, 19:31

![Screenshot_20211207-192510_MirageXR](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/88ea5850ec9184e34b7093a3ff6d285c/Screenshot_20211207-192510_MirageXR.jpg) Relocate these logos somewhere else and leave only our logo in the front intro screen with the tagline "your reality, augmented'
Our company name is in the app store and we are li

[2021-12-07 18:34] wekitecs opened #763 "Remove list of activities"
In GitLab by @endrit.kromidha on Dec 7, 2021, 19:34

Remove this list of recordings. Nobody understands what they are and why they are there. The buttons below, the house, three lines etc below don't work either ![Screenshot_20211207-192449_MirageXR](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/23da2786b25108bd4287596524e91f2f/Screenshot_20211207-192449_MirageXR.jpg)

[2021-12-07 18:36] wekitecs opened #764 "Onboarding swipe-thru tutorial"
In GitLab by @endrit.kromidha on Dec 7, 2021, 19:36

This kind of tutorial needs to be the first thing that appears when the app loads. No video view, nothing else. Ideally learning should happen in a virtual training environment not the real environment where the user is. That might be private and wr cannot invade and record just like that.![Screenshot_20211207-192552_MirageXR](https://platform.x

[2021-12-07 18:40] wekitecs opened #765 "Things in wrong places"
In GitLab by @endrit.kromidha on Dec 7, 2021, 19:40

When the app launches for recordings the activities diamond appears not in front of me by almost behind. Not only, they are on my ceiling so I don't know how to reach. The Fridolin character is horizontal in my ceiling. I have not been trained on how to use the left-right controllers remember, and nothing I have not been trained yet should appea

[2021-12-08 12:00] wekitecs commented on #765
In GitLab by @wild on Dec 8, 2021, 13:00

@endrit.kromidha You need to calibrate - then everything works as expected.

[2021-12-08 12:06] wekitecs commented on #765
In GitLab by @wild on Dec 8, 2021, 13:06

We have already two tickets open that tried to opt out of the calibration:
https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/447 and https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/448

[2021-12-08 12:06] wekitecs commented on #765
In GitLab by @wild on Dec 8, 2021, 13:06

made the issue visible to everyone

[2021-12-08 12:09] wekitecs commented on #762
In GitLab by @wild on Dec 8, 2021, 13:09

1) I propose that we do the logo presentation on mobiles in "screen space" - not "world space". This way, the logos will be clearly visible in the view of the user, as right now they are placed somewhere in distant space and you see them only if you point the device in that direction.

2) Agree with the liability assessment. So, for this app: splash screen

[2021-12-08 12:09] wekitecs commented on #762
In GitLab by @wild on Dec 8, 2021, 13:09

made the issue visible to everyone

[2021-12-08 12:10] wekitecs commented on #763
In GitLab by @wild on Dec 8, 2021, 13:10

@endrit.kromidha This will resolve itself when we switch to the learn.wekit-ecs.com server, so no need to act.

[2021-12-08 12:10] wekitecs commented on #763
In GitLab by @wild on Dec 8, 2021, 13:10

made the issue visible to everyone

[2021-12-08 12:10] wekitecs commented on #763
In GitLab by @wild on Dec 8, 2021, 13:10

Not quite sure, why the name of the user in line two is box box box. Anyone?

[2021-12-08 12:10] wekitecs commented on #764
In GitLab by @wild on Dec 8, 2021, 13:10

made the issue visible to everyone

[2021-12-08 12:12] wekitecs commented on #764
In GitLab by @wild on Dec 8, 2021, 13:12

This should be done as swipe through tutorial before you get to the activity list.
It should explain: aura, activity list, search, how to place things in AR (put finger down, move), calibrate, and also show how to create an activity. Can we make a list somewhere and @fominykh can you design some screens? with the help of the tutorial screenshot app?

[2021-12-08 12:27] wekitecs commented on #763
In GitLab by @klamma on Dec 8, 2021, 13:27

Unicode?

[2021-12-08 17:35] wekitecs commented on #763
In GitLab by @cawke on Dec 8, 2021, 18:35

I need to create a new atlas for non-latin characters

[2021-12-08 19:27] wekitecs commented on #763
In GitLab by @wild on Dec 8, 2021, 20:27

Yes, as Ralf says - Unicode should handle all that!

[2021-12-08 21:15] wekitecs commented on #763
In GitLab by @cawke on Dec 8, 2021, 22:15

https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/768

[2021-12-09 12:55] wekitecs commented on #764
In GitLab by @fominykh on Dec 9, 2021, 13:55

Here is a list made by @BorisJov  https://docs.google.com/spreadsheets/d/154GVFd1isnB2fDseh6Ve7D8_ytAN3Qcz8FNTbJXQeoY/edit#gid=0

[2021-12-09 14:27] wekitecs commented on #761
In GitLab by @s.thanyadit on Dec 9, 2021, 15:27

One possible solution I have discussed with Boris (@BorisJov) is to use MirageXR own capability to create a tutorial activity (uploaded to Moodle) that contains all the augmentations in each steps. So when a user want to learn tutorial, we can directly load that activity from Moodle.

[2021-12-09 15:11] wekitecs commented on #683
In GitLab by @wild on Dec 9, 2021, 16:11

Lock axis constraint and then allow two finger rotate?

[2021-12-09 16:01] wekitecs commented on #312
In GitLab by @wild on Dec 9, 2021, 17:01

I think this may technically be already possible, sort of? That an action step can activate/open a URL?

[2021-12-16 14:05] wekitecs commented on #757
In GitLab by @neumann on Dec 16, 2021, 15:05

I changed the settings, I can reive emails via lrs and moodle.

https://mxtoolbox.com/SuperTool.aspx?action=smtp%3alearn.wekit-ecs.com&run=toolpage

If the "Reverse DNS does not match SMTP Banner" is a problem I can try to contact the hoster and ask for help.

https://mxtoolbox.com/SuperTool.aspx?action=ptr%3a85.214.83.137&run=toolpage resolves to h295

[2021-12-16 14:25] wekitecs commented on #643
In GitLab by @wild on Dec 16, 2021, 15:25

marked the task **```ActivityModel```: rename ```Activity.cs``` to ```ActivitModel.cs```; this is the data model, already exists** as incomplete

[2021-12-16 15:08] wekitecs opened #775 "Textmesh pro on Hololens"
In GitLab by @wild on Dec 16, 2021, 16:08

.gitignore currently suppresses sync of `Assets/TextMesh Pro*` - which prevents bringing the hololens and mobile versions closer again. If we introduce textmesh pro, we might get the pipeline build problem with the missing type back. Let's check.

[2021-12-17 13:56] wekitecs opened #776 "Activity list does not display title of the activity - and does not search for title"
In GitLab by @wild on Dec 17, 2021, 14:56

Since the back-end was changed and the filename is now no longer identical with the activity name, the activity list can no longer search for activity titles. This is very confusing to the user - and we get a lot of requests that their activities no longer exist (though you can open them from Moodle using the play button).

[2021-12-17 14:01] wekitecs commented on #761
In GitLab by @wild on Dec 17, 2021, 15:01

Here is a good example what users think:
![character-model](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/affd2e1bd04717240973a908fe953d98/character-model.png)

[2021-12-18 18:47] wekitecs commented on #776
In GitLab by @a85jafari on Dec 18, 2021, 19:47

I think this issue is only on mobile! In editor the activity title can be searched for

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/ae21f145b43e186e0ef7a1e448cef19b/image.png)

[2021-12-19 06:52] wekitecs commented on #776
In GitLab by @cawke on Dec 19, 2021, 07:52

@wild @a85jafari Not sure if this is a problem with the mobile interface. The json comes from the server with an empty title. So the file name is displayed instead of the name until we download the record.

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/b82d4ce9c65658738a79211f48a13935/image.png)
![image](https://platform.xr4all.eu/wekit

[2021-12-19 13:43] wekitecs commented on #776
In GitLab by @a85jafari on Dec 19, 2021, 14:43

@cawke @wild I'm not sure by which version and when had you created and uploaded the activity which has not been saved the title. I created an activity on mobile (hello test mobile) with version 1.8 and as you see the title is saved on database. The activity that @cawke tested has no title on database as you can see (id 569), and it is weird! MirageX

[2021-12-25 19:54] wekitecs opened #782 "Red arrow assisting in finding an augmentation points to the task station diamond instead"
In GitLab by @fominykh on Dec 25, 2021, 20:54

To reproduce the bug:
1. Create a new activity, use the first step
2. Create an image, move the image far from the diamond.
3. Open the contents of the step and click the "locate the augmentation" button
4. The red arrow appears, but points to the task station diamond, not to the image (screenshots)
6. Create a text label in the same step.
7. Click "l

[2022-01-13 11:45] wekitecs opened #783 "More lighting option in the scenes"
In GitLab by @s.thanyadit on Jan 13, 2022, 12:45

Similar to issues #642.
Added 3D models are often dark. May be allow users to place other types of lighting, such as point light and spot light, in the scene.

![20211225_040613_HoloLens](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/9d01d64352331df5df4f90a491740e63/20211225_040613_HoloLens.jpg)

[2022-01-13 14:43] wekitecs commented on #783
In GitLab by @wild on Jan 13, 2022, 15:43

Fully support this: on Hololens, the light source seems to be somewhere away from the user, instead of from the user? So all 3D models are lit from behind, and the front is dark?

[2022-01-13 14:56] wekitecs opened #784 "Mobile: Adding Joystick for dedicated control of 3D objects manipulation"
In GitLab by @s.thanyadit on Jan 13, 2022, 15:56

Similar to #688 and #689.

Something like this one
https://assetstore.unity.com/packages/essentials/starter-assets-first-person-character-controller-196525

[2022-01-13 15:04] wekitecs opened #786 "Replace existing ActivityManager code"
In GitLab by @wild on Jan 13, 2022, 16:04

Replace the method names, variables, existing code of the ActivityManager with new better one in the new agreed class structure doing things to the same effect, but better.

[2022-01-13 15:13] wekitecs opened #787 "Create a new UI for the mobile apps"
In GitLab by @fominykh on Jan 13, 2022, 16:13

Create a new mobile UI and flow, both visual and logical.

[2022-01-13 15:13] wekitecs commented on #787
In GitLab by @fominykh on Jan 13, 2022, 16:13

changed due date to January 13, 2022

[2022-01-13 15:14] wekitecs commented on #787
In GitLab by @fominykh on Jan 13, 2022, 16:14

I am inviting @cawke and @fwild to review the new mobile UI.

[2022-01-14 14:04] wekitecs commented on #787
In GitLab by @wild on Jan 14, 2022, 15:04

Feedback:

- I don't think "project" is the right terminology. I think "experience" is best ("add new experience", "Cats experience"). "Activity" is what we use in the standard - which is also not quite bad, but "experience" is better. "Project" is only from the author perspective - for users, it is not a "project", but an "experience", which can be quite

[2022-01-19 13:15] wekitecs opened #791 "Hololens, v1.8.0: sketchfab: token seems to expire? or download broken?"
In GitLab by @wild on Jan 19, 2022, 14:15

The sketchfab model download suddenly stopped working from one day to the other - it worked two days ago, but now there is no download progress indicator (following the yes/no dialogue) and nothing happens.

[2022-01-19 13:39] wekitecs opened #792 "Search for activity title does not find activity"
In GitLab by @wild on Jan 19, 2022, 14:39

I think still the old session name is searched instead of the new activity title field - please fix urgently, users cannot find their activities again. List seems not to update when new activities are created - and only log out and relog in seems to fix that?

[2022-01-19 16:34] wekitecs commented on #776
In GitLab by @wild on Jan 19, 2022, 17:34

there is definitely still something odd going on - I had today the issue of not being able to find a freshly created activity on hololens. Not even after logging out and logging in again - which in the past would freshly fetch the list. I have opened a new ticket - but they may be related?

[2022-01-19 16:48] wekitecs commented on #792
In GitLab by @a85jafari on Jan 19, 2022, 17:48

Hololens or Mobile?

[2022-01-20 11:15] wekitecs commented on #792
In GitLab by @wild on Jan 20, 2022, 12:15

Hololens

[2022-01-20 12:15] wekitecs commented on #792
In GitLab by @a85jafari on Jan 20, 2022, 13:15

I tested the develop branch on Hololens. I created a privat activity on editor and after login to my account on Hololens I could find it both by search and scrolling the list!

[2022-01-20 13:30] wekitecs commented on #787
In GitLab by @cawke on Jan 20, 2022, 14:30

the input window in unity will be duplicated

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/ce3b9b1540bf76231b4d54d902141cd9/image.png)

[2022-01-20 13:35] wekitecs commented on #787
In GitLab by @cawke on Jan 20, 2022, 14:35

I think the forward and backward arrows should be
as we have to go through the step by step

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/a3622b6c0922c600b493447a6124487b/image.png)

[2022-01-20 13:38] wekitecs commented on #787
In GitLab by @cawke on Jan 20, 2022, 14:38

about the blur effect. i think it's quite a heavy effect for a mobile platform. we need to do a little research to be sure.
Most likely we will have to write a custom shader and render the entire interface into a separate texture.

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/abbdd7f2cd37f622c744af5ded3d253c/image.png)

[2022-01-20 13:43] wekitecs commented on #787
In GitLab by @cawke on Jan 20, 2022, 14:43

This doesn't apply to the new interface, but I'll write here anyway. We do not have the ability to select photos from the gallery.

in the future we will need to add

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/cc39fc16c59b671b1b4f304b422f7e53/image.png)

[2022-01-20 14:19] wekitecs opened #795 "Pick & place: sound effect for correct location?"
In GitLab by @wild on Jan 20, 2022, 15:19

There was a user proposal for a sound effect upon correctly placing to the target location - add?

[2022-01-23 15:02] wekitecs opened #796 "3D objects go through the floor make it uninteractable"
In GitLab by @s.thanyadit on Jan 23, 2022, 16:02

Selecting ray still stuck on the floor or obstacles, make editing 3D objects below the floor or behind obstacles very difficult.
![20220123_065307_HoloLens](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/0769619f6ba638d5790fe6d1fcd93513/20220123_065307_HoloLens.jpg)

[2022-01-24 13:23] wekitecs commented on #787
In GitLab by @fominykh on Jan 24, 2022, 14:23

Here, the idea is that the user can swipe (scroll horizontally) the rectangle steps. This can be done in the mobile version of the UI. Can it? On HoloLens, buttons are better.

[2022-01-24 14:32] wekitecs commented on #796
In GitLab by @wild on Jan 24, 2022, 15:32

The character model is the only one to my knowledge - right?

[2022-01-24 19:15] wekitecs commented on #245
In GitLab by @a85jafari on Jan 24, 2022, 20:15

unassigned @a85jafari

[2022-01-24 19:16] wekitecs commented on #370
In GitLab by @a85jafari on Jan 24, 2022, 20:16

unassigned @a85jafari

[2022-01-24 19:16] wekitecs commented on #446
In GitLab by @a85jafari on Jan 24, 2022, 20:16

unassigned @a85jafari

[2022-01-24 19:17] wekitecs commented on #542
In GitLab by @a85jafari on Jan 24, 2022, 20:17

Should the IBM credential solution still be done on sketchfab too?

[2022-01-24 19:17] wekitecs commented on #638
In GitLab by @a85jafari on Jan 24, 2022, 20:17

unassigned @a85jafari

[2022-01-25 08:43] wekitecs commented on #796
In GitLab by @a85jafari on Jan 25, 2022, 09:43

This is the third ticket which is opened for this issue! This issue is solved by !451 and the merge request is opened.

[2022-01-25 10:50] wekitecs commented on #795
In GitLab by @robhillman97 on Jan 25, 2022, 11:50

What do we think about this? we now have the colour change, which helps with recognising a correct placement. I think this would add to that but I'm not sure its 100% necessary. I also think if we add a sound affect for correct placement we should add one for an incorrect placement as well, as currently the only indication that the placement wasn'

[2022-01-25 11:35] wekitecs commented on #796
In GitLab by @s.thanyadit on Jan 25, 2022, 12:35

@a85jafari it is not a spawning issue, the user can move 3D objects out of physical space on purpose or accidentally.
After objects are behind the wall or under the floor, the 3D objects are difficult to interact with because the ray is sill block by the spatial mapping layer in multiple instances. Same issue with #508

Another video demonstrating

[2022-01-26 17:46] wekitecs opened #798 "Character Model detached from the ring after walking path"
In GitLab by @s.thanyadit on Jan 26, 2022, 18:46

Character model detached from the ring after clone and create a walking path, seem like there are issues with the character collision.
Please see video for details.

![MirageXR_2](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/d753a05ece310d580dab9d34c83b2df8/MirageXR_2.mp4)

[2022-01-27 10:45] wekitecs commented on #798
In GitLab by @a85jafari on Jan 27, 2022, 11:45

Character model uses navmesh to follow the path, therefore it collide with the colliders which is under the characters.
For finding out what happened here, I need you to record a video from before the character stucks to the roof.(Before cloning the path)

[2022-01-27 14:17] wekitecs commented on #798
In GitLab by @wild on Jan 27, 2022, 15:17

Happens to me only, if the mesh path has obstacles - e.g. if the last location is on a table, or if someone walks through the scene. Mind it: if your ring is too close to a wall, the wall may also count as 'obstacle'.

[2022-01-27 14:31] wekitecs opened #799 "Selection of augmentation"
In GitLab by @wild on Jan 27, 2022, 15:31

To be able to use a joystick, we require the possibility to select the augmentation it shall act upon in the editor.

[2022-01-31 09:02] wekitecs opened #801 "Refactor WorkplaceManager"
In GitLab by @danielbekhter on Jan 31, 2022, 10:02

[2022-01-31 09:02] wekitecs commented on #801
In GitLab by @danielbekhter on Jan 31, 2022, 10:02

changed due date to February 28, 2022

[2022-01-31 09:09] wekitecs commented on #801
In GitLab by @danielbekhter on Jan 31, 2022, 10:09

Dear colleagues, over the course of the last couple of days, I tested the application and analyzed the existing code. Now I have several questions before I develop a concept for the refactoring of Workplaces and start with the implementation.

1. As far as I am concerned, the native architecture for applications in Unity, Unreal Engine, etc. is e

[2022-01-31 10:49] wekitecs commented on #801
In GitLab by @wild on Jan 31, 2022, 11:49

Hi Danylo,

good questions :)

1. ECS and MVC are not mutually exclusive, but enforcing more strict MVC for our case (where we have a data model that is presented with different views on different platforms) makes a lot of sense. Here are two good postings: [MVS vs ECS](https://softwareengineering.stackexchange.com/questions/379076/difference-between-mvc-

[2022-01-31 13:27] wekitecs commented on #801
In GitLab by @BorisJov on Jan 31, 2022, 14:27

For 1. I'd just like to add [this article](https://www.toptal.com/unity-unity3d/unity-with-mvc-how-to-level-up-your-game-development), I think it details what Fridolin said perfectly.

2. The UML I made is in no way final, it was just a starting point meant for initial organisation. Feel free to discuss changes.

[2022-02-01 19:26] wekitecs commented on #801
In GitLab by @danielbekhter on Feb 1, 2022, 20:26

Dear @fwild and @BorisJov, thank you for your insightful responses. I will try to adhere to the conceptual notion of MVC.

[2022-02-04 14:52] wekitecs opened #803 "Offer to re-download updated learning experiences"
In GitLab by @wild on Feb 4, 2022, 15:52

When a learning experience is further edited by another user, or edited online in Moodle, it is at the moment very confusing to the teachers that their edits are not visible. Since we have version numbers in the ARLEM, why don't we ask the user whether they want to update already downloaded activities that now have a higher version number available in the

[2022-02-07 14:18] wekitecs commented on #801
In GitLab by @danielbekhter on Feb 7, 2022, 15:18

By the way, I added my suggestions for refactoring, which we discussed during our last meeting, as comments to the WorkplaceManager and the Workplace scripts on the branch danylo/ActivityManagerRefactor.

[2022-02-10 15:10] ManuelPozor opened #810 "To which code-hosting platform do we switch?"
In GitLab by @hensen on Feb 10, 2022, 16:10

We have three alternatives available:

1. SaaS (hosted) Gitlab
2. Self-hosted Gitlab
3. GitHub

[2022-02-10 15:10] wekitecs commented on #810
In GitLab by @BenediktHensen on Feb 10, 2022, 16:10

There does not seem to be a large different between SaaS and self-hosted Gitlab. The only thing that we absolute need to self-host are one or two CI-runners - one for Windows and one for Linux-based Docker. However, such self-hosted CI runners can be combined with both the SaaS and self-hosted Gitlab versions and with GitHub. So, they do not rea

[2022-02-10 16:33] wekitecs commented on #792
In GitLab by @wild on Feb 10, 2022, 17:33

May be fixed already then - need to check the next development version! Let's leave this open for now and tick off once I can confirm I cannot reproduce the error...

[2022-02-11 15:46] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:46

![Picture1](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/160046169647c3a0fc67253c0aea735f/Picture1.png)
- Need a scroll bar. Even though the user can use a handscroll to navigate, the scroll bar indicates how long is the list and where is the current position in the list.
- Need a “sorting option” button. Every list needs to indicate how

[2022-02-11 15:46] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:46

![Picture2](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/92d68348820fe6797122a4fcdabb1053/Picture2.png)

This screen should show only the current user profile info and log-out option which go back to the “Enter” screen.

[2022-02-11 15:47] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:47

![Picture3](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/852e70b6716b7adf1bcaaabfe1fb4cae/Picture3.png)

-	This left screen after the user press the “+” button, can be removed entirely and go directly to the right screen with name input and keyboard.
-	On multiple screens, the back arrow has the same functionality as the home button. In t

[2022-02-11 15:47] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:47

![Picture4](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/50dec86de1e3157e964c3fe42f5b8e00/Picture4.png)

-	Similarly, should add a horizontal scroll bar here.
-	The back arrow here has the same functionality as the home button, the back arrow should be removed.
-	This screen is tricky since the user is supposed to view the 3D augmentation

[2022-02-11 15:48] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:48

![image](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/36eb0bb40ed8139beb85f33252673182/image.png)

-	This expanded screen provided the same information as the compact screen, the only added functionality is access to the “Info” button. We can either directly show info when the user press on the expand button or add more details in each st

[2022-02-11 15:49] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:49

![Picture6](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/5cab16b48516a2e32223b0cd127c9b85/Picture6.png)

-	The “+” button for adding new augmentations should not look the same as the “+” button that adds new activity. Maybe use the same UI theme as other augmentations entries (grey box, with the white letter).
-	Add left and right buttons

[2022-02-11 15:49] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:49

![Picture7](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/be9c1f07036221e0e194643f4a53a0c9/Picture7.png)

-	These screens need a back button to go back to the previous screen.

[2022-02-11 15:50] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:50

![Picture8](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/ce000ea40c42118e79d98a94bcb68e84/Picture8.png)

- The delete screen should include the name of the augmentation to prevent the mistake.
- Pop up dialogue should remove the “x” button since the cancel button accomplishes the same thing.

[2022-02-11 15:52] wekitecs commented on #787
In GitLab by @s.thanyadit on Feb 11, 2022, 16:52

![Picture9](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/9a9b820727a8d76c73aa348404dd9380/Picture9.png)

Might move the option to re-calibrate here.

[2022-02-11 16:07] wekitecs commented on #787
In GitLab by @wild on Feb 11, 2022, 17:07

Good stuff, thank you @s.thanyadit :)

[2022-02-11 16:11] wekitecs commented on #810
In GitLab by @wild on Feb 11, 2022, 17:11

Since GitHub has also MRTk and several other relevant AR development projects (including some of mine ;), that speaks a lot for the developer community we can find there!

[2022-02-13 15:54] wekitecs commented on #787
In GitLab by @fominykh on Feb 13, 2022, 16:54

All comments look logical to me, @s.thanyadit . I Will review them with the designer, and report at the next dev meeting.

[2022-02-13 15:55] wekitecs commented on #787
In GitLab by @fominykh on Feb 13, 2022, 16:55

changed due date to March 01, 2022

[2022-02-13 16:00] wekitecs opened #813 "Create short animations for the onboarding slides"
In GitLab by @fominykh on Feb 13, 2022, 17:00

Five (2-seconds) animations, similar to GIF stickers, for the onboarding slides:
1. Human greeting - ghost greeting
2. Ghost in action
3. ”Step-by-step training: Diamond for action step 1 and 2” and “Aura”
4. Guest account -> safe/organizational login
5. Tutorials

[2022-02-13 16:00] wekitecs commented on #813
In GitLab by @fominykh on Feb 13, 2022, 17:00

changed due date to March 01, 2022

[2022-02-15 14:44] wekitecs commented on #791
In GitLab by @wild on Feb 15, 2022, 15:44

@cawke I think this can also be closed now that we have a log out - and since you added check routines to refresh the token if expired?

[2022-02-15 14:47] wekitecs commented on #762
In GitLab by @wild on Feb 15, 2022, 15:47

@BorisJov When you are adding the swipe through tutorial at the beginning: can you take care of this, too? So that the splash screen logos are with background and in screen space?

[2022-02-16 11:43] wekitecs commented on #791
In GitLab by @cawke on Feb 16, 2022, 12:43

@wild let me check it out. It may be necessary to change something for Hololens

[2022-02-16 17:41] wekitecs commented on #791
In GitLab by @wild on Feb 16, 2022, 18:41

Ideally I would hope with the refactoring that the control logic in the future is the same for all platforms

[2022-02-16 17:51] wekitecs commented on #795
In GitLab by @wild on Feb 16, 2022, 18:51

Agree, but both sound effects would be good to have! How about these:
- correct: https://artlist.io/sfx/track/50543/magic-spells---chime-bells,-delight-win-ding
- wrong: https://artlist.io/sfx/track/77111/clear-ui---access-denied,-error

[2022-02-16 23:35] wekitecs commented on #791
In GitLab by @cawke on Feb 17, 2022, 24:35

Yes, someday I will do that.

[2022-02-17 09:57] wekitecs opened #815 "Add in app registration for the Moodle"
In GitLab by @wild on Feb 17, 2022, 10:57

Add in-app registration routines so that the signup (%MOODLEURL%/login/signup.php?) can be executed directly from within the app - parse result and display a screen "Account added. Now check our email and validate it." plus button to return to log in.

We need this for the new UI

[2022-02-17 11:01] wekitecs opened #816 "Marker augmentation: display "find this" + marker image"
In Play Mode: When the marker augmentation is not yet identified (tracking not yet found, position of the task station not yet set to new world anchor, subsequent tracking stopped?), there should be a screen-space dialogue that instructs the user to find the marker, also displaying the marker.

In this context: user reports: "The image marker would be more useful if there was an option to display

[2022-02-17 11:02] wekitecs opened #817 "Calibration: button to eMail marker"
When the world-origin calibration animation is shown, there should also be a button "email me the marker" which sends the marker file with print instruction to the user's registered email, if the user is logged in. The registered email is available from Moodle - this may require fetching it from there.

Duplicate of: https://github.com/WEKIT-ECS/MIRAGE-XR/issues/1205

[2022-02-17 11:53] wekitecs commented on #762
In GitLab by @BorisJov on Feb 17, 2022, 12:53

I'm not sure I understand. Should they be in the slides of the swipe-through?

[2022-02-17 12:08] wekitecs commented on #762
In GitLab by @wild on Feb 17, 2022, 13:08

Could be - or before. Not quite sure how it is implemented right now.

[2022-02-17 14:21] wekitecs commented on #654
In GitLab by @klamma on Feb 17, 2022, 15:21

Essentially this is a series of boolean objects connected by logical and.

[2022-02-20 16:50] wekitecs commented on #688
In GitLab by @wild on Feb 20, 2022, 17:50

A user adds: "Lack of precision (Using a phone didn't allow for precision when placing objects in space)." (Google Pixel 6 Pro, Android 12)

[2022-02-20 16:52] wekitecs opened #818 "Description of action step not clear to the user"
In GitLab by @wild on Feb 20, 2022, 17:52

A user reports: "No blurbs option (There is no option to add descriptive text, except very short labels."

This means, that the instruction description is not being recognised - can we do something about this in our new UI? @fedfomi

[2022-02-20 16:53] wekitecs opened #820 "Several small potential bugs (to be validated)"
In GitLab by @wild on Feb 20, 2022, 17:53

User reports
"Bugs or unexpected behaviour. (in our case in the form of a label that remained visible in the next step when it shouldn’t have, as well as the disappearance of direction arrows, meant to point towards a specific augmentation when it was out of our field of view. The latter were added, seemed to work but would not be saved when saving the fi

[2022-02-20 16:55] wekitecs opened #822 "Snap to grid"
In GitLab by @wild on Feb 20, 2022, 17:55

User suggest new feature: "Tools to help with alignment like groups and grids"

[2022-02-20 16:55] wekitecs opened #823 "Suggestion: Multiple markers for tracking"
In GitLab by @wild on Feb 20, 2022, 17:55

User suggests: "Using multiple trackers in space to help with better space tracking" and "When working in a larger area we should consider splitting the experience into smaller zones with each one having its own calibration marker."
Also mentioned in this context: the provision of "floorplans", for museum AR experiences - to guide the user from room to ro

[2022-02-20 16:56] wekitecs opened #824 "Direct upload of files (3D model)"
In GitLab by @wild on Feb 20, 2022, 17:56

User suggests: "Option for loading files"

[2022-02-21 08:29] wekitecs commented on #818
In GitLab by @fedfomi on Feb 21, 2022, 09:29

Ok, already working on it)

[2022-02-22 16:25] wekitecs opened #831 "MirageXR is breaking a connection between a headset and a PC"
In GitLab by @fominykh on Feb 22, 2022, 17:25

How to reproduce:
1. Connect a wireless headset to both a PC and to an Android phone via Bluetooth
2. Play sound on PC (e.g., start a Zoom meeting) - the sound plays in the headset
3. Start MirageXR app on the phone (that is connected to the same headset)
4. After a few seconds, notice a notification in the headset "call ended", notice that all sounds

[2022-02-23 12:34] wekitecs commented on #831
In GitLab by @wild on Feb 23, 2022, 13:34

I think this is a bluetooth issue of your headset? don't other apps on your phone do the same - like skype, when calling? MirageXR opens the mic on app start, for voice commands. Maybe this is something we should optimise (as on android, voice commands don't work).

[2022-02-23 16:03] wekitecs commented on #831
In GitLab by @fominykh on Feb 23, 2022, 17:03

The only other phone app that does a similar interruption is the calling app. However, if I drop/cancel the call, the headset is being released, and I can continue using it connected to the PC.
MirageXR does not have audio device settings. Adding it might be a solution.

[2022-02-24 14:51] wekitecs commented on #302
In GitLab by @wild on Feb 24, 2022, 15:51

Would be great if it checks whether there is a header - which also should include the email address of the contributors.

The documentation checker could then send an email if something is missing in the documentation?

[2022-02-24 15:11] wekitecs commented on #643
In GitLab by @wild on Feb 24, 2022, 16:11

marked the task **```WorkplaceParser```** as completed

[2022-02-24 15:11] wekitecs commented on #643
In GitLab by @wild on Feb 24, 2022, 16:11

marked the task **```WorkplaceLoader```** as completed

[2022-02-24 15:11] wekitecs commented on #643
In GitLab by @wild on Feb 24, 2022, 16:11

marked the task **```WorkplaceController```** as completed

[2022-02-24 15:15] wekitecs opened #835 "Enable direct hand interactions with 3D models and 2UIs for HoloLens"
In GitLab by @s.thanyadit on Feb 24, 2022, 16:15

Enable direct hand interaction for 3D objects using a version of Bounds control:
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/bounds-control?view=mrtkunity-2021-05.

Also enable direct hand interaction for 2D UIs as well:
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-b

[2022-02-24 15:26] wekitecs commented on #835
In GitLab by @wild on Feb 24, 2022, 16:26

Question about the 2D UI elements: where is it missing? All 2D UI elements should have 'near interaction' active, but it is well possible that we missed some - which?

[2022-02-24 15:31] wekitecs opened #836 "Enable the user to select next step or previous step directly on the step list"
In GitLab by @s.thanyadit on Feb 24, 2022, 16:31

Users will try to select the step directly on the step list, which is currently not interact-able, and become frustrated.
We should enable the user to select the next step or previous step directly on the step list, and "grey out" not interactable step.
For example, if the current step is 2, steps 1 and 3 should be selectable and "grey out" step 4

[2022-02-24 15:48] wekitecs commented on #835
In GitLab by @s.thanyadit on Feb 24, 2022, 16:48

@wild From what I observed, 2DUI elements that have pictures in sub-menus such as act, character, and ghost.
All of the dropdown lists, checkboxes, textboxes, and scroll bars.

Please noted that I test it on V1.8.

[2022-02-24 16:44] wekitecs commented on #835
In GitLab by @wild on Feb 24, 2022, 17:44

Yes, all of these should have touch interaction! Any you have noticed that are missing? All of them??

[2022-02-24 16:51] wekitecs commented on #835
In GitLab by @s.thanyadit on Feb 24, 2022, 17:51

Yes, after test it again. Most if not all of these do not have touch interactions.

[2022-02-28 09:33] wekitecs commented on #614
MRTk has a [tooltips implementation](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/tooltip?view=mrtkunity-2021-05) that is inspiring (though we want to phase out MRTk, so do not directly use)

[2022-03-03 14:27] wekitecs commented on #503
In GitLab by @BenediktHensen on Mar 3, 2022, 15:27

This should be broken down into individual issues for documenting separate classes/modules. To do this, we need to define units of work that are specific tasks.

There should be an own milestone for this overall goal which then bundles all the separate issues.

[2022-03-03 14:33] wekitecs commented on #660
In GitLab by @klamma on Mar 3, 2022, 15:33

Fridolin. Shall we leave this open or link it to other refactoring issues?

[2022-03-03 14:35] wekitecs commented on #496
In GitLab by @klamma on Mar 3, 2022, 15:35

perhaps move to refactoring II

[2022-03-03 14:36] wekitecs commented on #494
In GitLab by @klamma on Mar 3, 2022, 15:36

perhaps move to refactoring II

[2022-03-03 14:37] wekitecs commented on #491
In GitLab by @klamma on Mar 3, 2022, 15:37

already broke down in several issues. Epic task.

[2022-03-04 10:08] wekitecs opened #837 "Camera grid for screen capture"
In GitLab by @wild on Mar 4, 2022, 11:08

Secret button or such to add a grid overlay for positioning?

[2022-03-04 22:38] wekitecs opened #838 "Button augmentation"
In GitLab by @wild on Mar 4, 2022, 23:38

The label augmentation is used by many users to create menus - to link (via gaze trigger) with specific action steps. Press label "A" for step 3, label "B" for step 4, etc.

This is using the annotation label against its intention - and when we implement the other issue https://platform.xr4all.eu/wekit-ecs/mirage-xr/-/issues/614 we risk that we break visua

[2022-03-04 22:43] wekitecs opened #841 "Merge ghost and character model?"
In GitLab by @wild on Mar 4, 2022, 23:43

The ghost and the character models could be one - either adding manipulation functionality for the path (and hands paths) to the ghost, or converting ghost recording to a path and animation for the character model. This is an interesting idea - but still probably in the distant future.

This issue serves discussion on how this could be implemented - and wh

[2022-03-04 22:49] wekitecs opened #845 "Spatial UX: SR1b: Lighting"
Many augmentations are not properly lit: the 3D models are often almost invisible; the glyphs (e.g. red arrow) often not visible; the 3D drawing is almost impossible to see.

Maybe a point light should be added from the place of the task station? Or allow users to place another light source (point light or spot light) in the scene? As an action glyph?

Related to https://github.com/WEKIT-ECS/MIRAG

[2022-03-04 22:49] wekitecs opened #846 "3D drawing: lighting wrong"
In GitLab by @wild on Mar 4, 2022, 23:49

The lighting for the 3D drawing is very wrong.

[2022-03-04 22:50] wekitecs opened #847 "Occlusion handling for augmentations in PlayMode"
In GitLab by @wild on Mar 4, 2022, 23:50

PlayMode should handle occlusion of any augmentation. EditMode not.

[2022-03-07 11:25] wekitecs commented on #494
In GitLab by @wild on Mar 7, 2022, 12:25

Seems ok - but not sure which classes this particularlry refers to? (= might have been done already as part of the refactoring so far?)

[2022-03-07 11:26] wekitecs commented on #660
In GitLab by @wild on Mar 7, 2022, 12:26

Link and move to the second refactoring sprint?

[2022-03-07 11:27] wekitecs commented on #503
In GitLab by @wild on Mar 7, 2022, 12:27

Good idea - I support this (create a 'documentation' sprint)

[2022-03-10 14:28] wekitecs commented on #845
In GitLab by @wild on Mar 10, 2022, 15:28

And there is a weird shadow on the ghost when you look at recordings:

![Screenshot_2022-03-10_at_14.27.49](https://platform.xr4all.eu/wekit-ecs/mirage-xr/uploads/13e42393e0be6ffdde04a2f625ce4131/Screenshot_2022-03-10_at_14.27.49.png)

[2022-03-10 14:28] wekitecs commented on #845
In GitLab by @wild on Mar 10, 2022, 15:28

This weird shadow does only happen on Hololens - not on iPad.

[2022-03-10 14:34] wekitecs commented on #837
In GitLab by @wild on Mar 10, 2022, 15:34

Was a suggestion by our film maker, David Bullock. Would help on iPad/hololens with filming - so as to find the perfect golden angles :)

[2022-03-10 16:53] wekitecs opened #850 "Update animation and character for PBIS"
In GitLab by @mariellafarella on Mar 10, 2022, 17:53

Add new animation and update character for PBIS pilot.

[2022-03-10 16:54] wekitecs commented on #850
In GitLab by @mariellafarella on Mar 10, 2022, 17:54

created branch [`850-update-animation-and-character-for-pbis`](/wekit-ecs/mirage-xr/-/compare/master...850-update-animation-and-character-for-pbis) to address this issue

[2022-03-16 16:13] wekitecs opened #852 "Add new animations"
In GitLab by @hxy000713 on Mar 16, 2022, 17:13

We can add more hand gestures and body animations, such as handwriting, sitting, jumping, looking around, etc.![body1]

I find some good references from Google: https://www.google.com/search?q=body+gesture&tbm=isch&ved=2ahUKEwjIvIShpsn2AhWCi_0HHfF1DU0Q2-cCegQIABAA&oq=body&gs_lcp=CgNpbWcQARgAMgQIABBDMgQIABBDMgQIABBDMgcIABCxAxBDMgQIABBDMgQIABBDMgQIABBD

[2022-03-17 02:18] wekitecs commented on #795
In GitLab by @cawke on Mar 17, 2022, 03:18

need to check

[2022-03-21 13:57] #810 closed

[2022-03-23 16:51] wekitecs commented on #783
In GitLab by @s.thanyadit on Mar 23, 2022, 17:51

marked this issue as related to #845

[2022-03-23 16:51] wekitecs commented on #845
In GitLab by @s.thanyadit on Mar 23, 2022, 17:51

marked this issue as related to #783

[2022-04-20 12:40] fwild commented on #487
@ManuelPozor - I think you added this now, right?

[2022-04-20 12:42] ManuelPozor commented on #487
The last commit message should be displayed, yes.

[2022-04-20 12:46] fwild commented on #467
Done (Assets/MirageXR/Resources/MirageXRConfig.txt) - but could use some script configuration in the pipeline, tbc

[2022-04-20 12:46] #467 closed, assigned to nobody

[2022-04-20 12:49] fwild commented on #20
Closing this ticket - solution identified, new ticket should be opened if we consider speech commands to be added for mobile.

[2022-04-20 12:49] #20 closed, assigned to nobody

[2022-04-20 12:51] #418 closed, assigned to nobody

[2022-04-20 12:52] #392 closed, assigned to nobody

[2022-04-20 12:53] #336 closed, assigned to nobody

[2022-04-20 12:54] #480 closed, assigned to nobody

[2022-04-20 12:54] ManuelPozor commented on #487
I did not add other details yet. But the scripts can easily be modified at any point.

[2022-04-20 12:54] #463 closed, assigned to robhillman97

[2022-04-20 12:55] fwild commented on #461
Could inform the collaboration and sharing discussion - but please close after, as we are pursuing a different route now!

[2022-04-20 12:55] #455 closed, assigned to nobody

[2022-04-20 12:57] fwild commented on #454
Not sure this is still the right rendering pipeline - but I will revise the ticket to be more generic and set the goal to check rendering pipelines available (by platform) and select best one accordingly based on performance.

[2022-04-20 12:58] #454 closed, assigned to nobody

[2022-04-20 13:02] fwild opened #878 "Check upgrade of rendering pipeline"
Check which rendering pipelines are in use (for which platforms) and select the best performing one accordingly - based on speed, resolution, etc.

Universal Rendering Pipeline is what we likely should use?

Some relevant documentation stubs:
* https://docs.unity3d.com/Manual/render-pipelines.html
* https://docs.unity3d.com/Manual/xr-render-pipeline-compatibility.html
* https://docs.unity3d.com/Ma

[2022-04-20 16:07] fwild commented on #487
great!
-- closing this ticket.

[2022-04-20 16:07] #487 closed, assigned to nobody

[2022-04-22 13:09] robhillman97 opened #879 "Glyph, VFX, Image and Video augmentations are all movable in play mode"
When in play mode the Glyph, VFX, Image and Video augmentations can all be moved as you would in edit mode.

[2022-04-22 13:10] robhillman97 opened #880 "No calibration pop up"
When loading an activity on HoloLens the user is not prompted to calibrate. (release branch)

[2022-04-22 13:13] robhillman97 opened #881 "Calibration rotates objects 90 degrees"
Calibrating after opening an existing activity will cause all augmentations to rotate 90 degrees.

[2022-04-22 13:15] robhillman97 opened #882 "Mobile Image augmentation not loading correctly."
An image augmentation created on a mobile device will show a red question mark when the activity is downloaded onto another device.

[2022-04-22 13:17] robhillman97 opened #883 "Image Augmentation Rotates with task station"
The image augmentation will rotate and move around a task station similar to the panels connected to the diamond.

[2022-04-22 13:18] robhillman97 opened #884 "In app tutorial not progressing"
the in app tutorial will only progress up to renaming an activity and will not recognise changing the activity name to move onto the next step.

[2022-04-22 13:20] robhillman97 opened #885 "Activities created on refactor branch wont load on develop build"
If an activity is created on the build made from the refactoring branch, it will not be able to load on a build created from the develop branch. Maggie will also say "Error detected, please check the log"

[2022-04-22 13:25] fominykh commented on #882
Confirm that I could reproduce it too.

[2022-04-22 13:27] fominykh commented on #881
I could preproduce it too.

[2022-04-27 17:38] cawke commented on #882
cannot be reproduced

[2022-04-27 17:53] fominykh commented on #882
I could reproduce it 5 days ago. Tried again today and could not reproduce it. Might have been something in the learn.wekit-ecs.com server?

[2022-04-28 13:42] #653 closed, assigned to cawke

[2022-04-28 13:42] klamma commented on #653
Done.

[2022-05-04 09:58] jafarigit opened #886 "Create Robotic augmentation for eROBSON"
A new type of augmentation for eROBSON project should be added to the augmentation list. For now it would be "Robotic" but it can be changed later. This augmentation contains a list of components which will be spawned on some markers, and they will interact with each other.

[2022-05-04 10:08] jafarigit opened #887 "Create a reference image library using markers of components"
A new AR foundation reference image library which contains the markers of components (for every kit(e.g. Arduino) has many components).

[2022-05-04 10:10] jafarigit opened #888 "Collect models of the components"
Download or create 3d models of the needed components.

[2022-05-04 10:50] fwild commented on #886
Could also be a "plugin"? not sure which one is better?

[2022-05-05 09:30] fwild opened #889 "Calibration not working after loading, editing, and saving (ipad)"
To reproduce:

1) record a ghost, calibrate, save.
2) load, calibrate.
3) edit, save.
4) load again - does not calibrate (calibration works, but positions don't change but stay uncalibrated).

Looks like a flag prevents the positions to be updated?

[2022-05-05 09:31] fwild commented on #889
It does work perfectly fine, if you hard quit the app and then just load and calibrate the activity, even repeatedly.

[2022-05-05 09:32] fwild opened #890 "Label augmentation forgets resize"
It seems the size of the label augmentation is not saved. When touching this, can we also please change the font resolution dynamically? When you resize, right now the font can become quite pixeled when big.

Related to: https://github.com/WEKIT-ECS/MIRAGE-XR/issues/838

[2022-05-05 09:33] fwild commented on #883
Do you mean that it is billboarded (= orientation follows user)? But the location stays the correct one? That's a feature!

[2022-05-05 09:37] robhillman97 commented on #883
No the billboard would not rotate in place but its position would rotate around the task station as you walked around it.  May have been fixed in the new build though.

[2022-05-05 11:27] #882 closed, assigned to cawke

[2022-05-05 11:31] robhillman97 commented on #883
Tested on the android build posted yesterday and still seems to be there. Here's a video of what I am seeing:

https://drive.google.com/file/d/1HqnMH_x8yGPjWtyc8ll_cy6wPEQS6Ot2/view?usp=sharing

[2022-05-05 12:19] robhillman97 commented on #879
This issue has been resolved on android (and IOS?) However, on HoloLens only the image is not movable in edit mode and Glyph, VFX, and Video augmentations are still movable,

[2022-05-05 12:29] cawke commented on #879
did you update the data from the branch? I added new changes to this task yesterday

[2022-05-05 12:35] robhillman97 commented on #879
I cloned the refactoring branch this morning and built and tested from there. The latest commit was [885 Fixed](https://github.com/WEKIT-ECS/MIRAGE-XR/commit/92736a2604556da91b638c0a582fe06e97d4e644).

[2022-05-05 12:40] robhillman97 commented on #879
Just double checked and looks like it is fixed, not sure what happened earlier but must have been something I did. Closing the issue now

[2022-05-05 12:40] #879 closed, assigned to nobody

[2022-05-05 13:15] fwild opened #891 "3D model augmentation: logged in before update problem"
When updating the app (=still logged in from the previous install), augmentation seems to crash - and it is not possible to bring up the person icon and login screen.

Workaround: uninstall before reinstalling

[2022-05-05 13:15] fwild commented on #891
May be a testflight problem? But we need to test?

[2022-05-05 13:22] fwild commented on #883
indeed a bug

[2022-05-05 13:23] #881 closed, assigned to cawke

[2022-05-05 13:24] #885 closed, assigned to nobody

[2022-05-05 14:30] fwild opened #892 "When opening new activity from edit mode, activity opens in edit mode"
When I create an activity (or load and then switch to editmode), then go to home, and open a new activity - I will open this activity in edit mode. Should open in playmode, though.

[2022-05-05 14:51] fominykh opened #893 "Some augmentations and the task-station diamond move-rotate around a point in space"
Testing refactor version on iPad v1.9 testflight and refactoring APK from 04 May
How to reproduce:
1. Calibrated. Created an activity on iPad. Added 1 label and 3 Act glyphs. Saved the activity.
2. Close the app. Start the app again.
3. Open activity on the same device. See that:

- 2 Act glyphs are in the correct locations, but rotated 90 degrees. However, these act glyphs are fixed in the physic

[2022-05-05 15:03] jafarigit commented on #886
I think the current plugin augmentation limits us. It hasn't capability to implement all our functionality. eRobson needs a lot of objects and classes.

[2022-05-06 08:34] #884 closed, assigned to BorisJov

[2022-05-07 08:19] fwild opened #895 "Character: dialogue injection"
The dialogue json array should be included in the ARLEM zip, so that dialogues can be authored on Watson and included in the experience model. This way, we can also parse the dialogue in advance and check whether the soon to be added procedural animations are all available - and flag an error in case they are not. Moreover, we circumvent the issues with selecting the right assistant ID.

[2022-05-07 08:21] fwild opened #896 "Allow injection of custom animations via ARLEM archive"
It should be possible to add additional animations to the experience model, so that bespoke animations can be integrated into the flow. This could be done by either including the animation file into the IEEE p1589-2020 ARLEM archive or pulling it from a web service (a database of animations). This is related to the ticket to add procedural animations to be triggered from inside the dialogue: https

[2022-05-07 08:28] fwild opened #897 "Icons missing in pipeline build (HL2)"
It seems the last build (MirageXR_1.8.93.0_Test) is missing some icons:
![missing-icons-20220507_012643_HoloLens](https://user-images.githubusercontent.com/183296/167246135-4eefa4f9-48c2-49d1-8656-e4fc90ff40ae.jpg)

[2022-05-07 08:40] fwild opened #898 "Tutorial: some small wordings and small items"
* When you enter the + activity creation, the first step tells you about the "workstation" -> this should be "task station".
* Moreover, this dialogue was facing for me somewhere odd, as my action list was placed somewhat odd (it was 90 degrees turned, with the side facing me, so the tutorial dialogue was sidewards-facing me as well) - the tutorial text and arrow should be placed user facing (mayb

[2022-05-07 08:44] fwild commented on #891
When I tested now on HL2, the app started with sketchfab logged out (though I could see I had a stored username and password, so must have been logged in on the previous release 1.8 that was installed). But: the login does not work - neither the username+pwd, nor the browser login. It seems the model augmentation crashes somewhere before it can log in?

[2022-05-07 08:48] fwild opened #899 "Watson credentials missing in pipeline build?"
It seems the Watson credentials are missing on the HL2 pipeline builds?
To reproduce:
1. Add a character model
2. Select AI mode
3. say "hello" -> you should see the transcript "hello" above the character model and it should start talking to you

[2022-05-07 09:11] fwild commented on #899
I have checked the Watson dashboard and there is no usage, so it is not quota related. It is also broken on Android (and I am pretty sure on iOS as well then). I think it would make a lot of sense to add a test for this for the future to make sure we have diagnostics. This test would simply have to instantiate one of the watson managers (e.g. speechinput service) - and check if the auth concludes

[2022-05-09 09:57] fwild commented on #886
Sound reasonable!

[2022-05-13 13:24] fwild opened #901 "captioning support for audio Augmentation"
For accessibility reasons, we should have subtitles for all audio. There are various subtitle formats (.SRT for example), which have different features - need to investigate which ones work best for us and are widespread. This is usually done in the UI via upload of a .txt file, which also contains time codes.

[2022-05-13 13:30] fwild opened #902 "vibrotactile patterns for locate arrows"
As accessibility support for visually impaired people, it would be great, if we add a 'buzz' pacman style trail to the arrow that points to the selected augmentation. It would buzz, when you face in the right direction, and not, when you turn away. This way you get navigational support for the blind - see, e.g., https://www.myfinderr.com/

[2022-05-18 13:54] #883 closed, assigned to robhillman97

[2022-05-18 13:57] #892 closed, assigned to robhillman97

[2022-05-19 13:48] fwild commented on #898
This was on Hololens 2

[2022-05-20 08:33] fwild commented on #893
In the APK from yesterday (19.5.2022), images/task station diamond/glyphs are no longer pushed away by the user, nor does the image rotate in a circle (but properly billboards now). I therefore edit this ticket to focus on the remainder: the calibration is still not quite right: for me, when calibrating, the locations are somewhere else (seems a bit like 90 degree rotated to the left or right?). T

[2022-05-20 08:35] fwild commented on #893
This is a new behaviour, so I will report a new bug - I think the behaviour described here has been fixed. Mikhail?

[2022-05-20 08:58] fwild commented on #893
Weirdly enough, I cannot reproduce this behaviour - something else must have gone wrong. I can create a new activity, calibrate, and then save/load/calibrate (with hard quitting the app or without), and they seem to show up in the right locations (maybe a tad too high? but that may have to do with Android spatial mapping). I close the ticket for now, so we can test and report new behaviour. One th

[2022-05-20 08:58] #893 closed, assigned to cawke

[2022-05-20 08:58] fwild commented on #889
I cannot reproduce this behaviour on Android with the v1.9RCC from 19.5.2022.

[2022-05-23 09:17] fwild commented on #880
I tested the RC 1.9 (MirageXR_1.8.93.0_Test, build from 18.5.2022) on HL2: the calibration pop up is there. The video is not displayed - but that's related to the pipeline build bug (which happens with several icons as well). Therefore closing the ticket.

[2022-05-23 09:17] #880 closed, assigned to nobody

[2022-05-23 09:18] fwild commented on #897
This also includes the video in the calibration popup.

[2022-05-23 09:27] fwild opened #910 "sketchfab direct login broken (HL2)"
The login for sketchfab does not work anymore. I can enter username and password, but it won't allow me to click 'login'. Maybe some failing validation routine? (18.5.2022, RC 1.9 - 1.8.93)

[2022-05-23 09:28] fwild opened #911 "Sketchfab openID login broken (HL2)"
The SSO openID login via browser does not work on HL2 - and that for a while. Should we remove this option if it is not fixable?

[2022-05-23 09:31] fwild commented on #898
I think there was a fix - the tutorial now (RC 1.9, 18.5.2022, HL2) ends now with the cloud save - is this the last step? Would be good to have a final dialogue message that says "congratulations you finished the tutorial" or something?

[2022-05-23 09:37] fwild commented on #727
@robhillman97 Is this done?

[2022-05-24 12:53] BorisJov commented on #898
Yeah, it should be ending with the save step, that's good at least. I'll be doing the improvements today and will add the end message and the other things.
The dialogue position (rotation) is a bit tricky to get right. Sometimes it looks good when I test it, but it may not look the same on HL2.
The "progress" thing shouldn't be from the tutorial.
I'll also add a step to lock the activity window.

[2022-05-24 18:23] fwild opened #913 "add CNR ITD logo"
CNR ITD has been contributing (with the Alien character model, animations, code), so should be acknowledged on the logo wall.

[2022-05-25 10:01] fwild opened #914 "Add LRS url to settings screen"
For the ARETE pilot, we need the LRS to be configurable - please add to settings screen as a dropdown, so the API key is hidden from the user.

[2022-05-26 08:42] MariellaF commented on #913
[cnrLogo.zip](https://github.com/WEKIT-ECS/MIRAGE-XR/files/8777624/cnrLogo.zip)
Hi Fridolin, here you can find our Logo.
Let me know if it's ok.

[2022-05-26 13:41] BorisJov commented on #914
Needed details are set here:
https://github.com/WEKIT-ECS/MIRAGE-XR/blob/56ba34e6aaf1d35acdc8ccd4ead5e90f20869ca9/Assets/MirageXR/Common/Scripts/Services/MirageXRServiceBootstrapper.cs#L30

We need:
1. URL
2. Access token
3. xAPI version (almost always 1.0.3)

[2022-05-26 13:46] BorisJov commented on #914
xAPI token seems to be stored here (best settable in Unity Inspector):
https://github.com/WEKIT-ECS/MIRAGE-XR/blob/56ba34e6aaf1d35acdc8ccd4ead5e90f20869ca9/Assets/MirageXR%20xAPI%20Client.asset#L15

[2022-05-26 13:56] BorisJov opened #915 "Upload activity button unknown "progress" text"
Linked tickets: https://github.com/WEKIT-ECS/MIRAGE-XR/issues/1052 https://github.com/WEKIT-ECS/MIRAGE-XR/issues/1053

When the upload button is clicked, there seems to be text added to the button (or icon/sprite) in red that says "progress".
This shouldn't be here and should be removed.

Notes on error replication:
Error was notice during the tutorial. User wasn't logged in. <- Unkown relevance

[2022-05-26 13:56] #898 closed, assigned to BorisJov

[2022-05-27 08:49] fwild opened #917 "Audio on character model broken"
The audio recording on the character model augmentation does not work. It does record, but does not replay. The audio augmentation is created and can be played directly in the editor, by clicking on the audio augmentation in the list of augmentations, then clicking on play. Replay does not work, however, in playmode or editmode, and neither by directly clicking on the play button to the right of t

[2022-05-27 08:53] fwild opened #918 "Glyph and vfx don't have rotate handles on the bounding box"
The glyph actions and the visual effects augmentations do not have rotate handles on the bounding box, preventing the user from rotating them around the according axis. (RC 1.9, 27.5.2022, ipad)

[2022-05-27 08:54] fwild commented on #914
That's not easy then to enter, so we either add a drop down with preconfigured LRS (I would almost prefer that option), or we have to sign something between WEKIT and ARETE.

[2022-05-27 08:54] fwild commented on #911
BTW: not broken on the RC 1.9 ipad release from 27.5.2022 - all works fine on iPad!

[2022-05-27 08:55] fwild commented on #891
This is a dupe entry now, and does not seem to affect the mobile apps. Closing.

[2022-05-27 08:55] #891 closed, assigned to nobody

[2022-05-27 09:02] fwild opened #919 "Pick&place and image marker augmentations missing"
The pick and place and the image marker augmentations are missing in the list - although they are listed in the BrandConfiguration.cs under spareListOfAugmentations, which should be responsible for activating the available augmentations based on the platform. Possibly this is because 'pick&place' is used and not 'pickandplace' (the part of the variable name and content type in ContentType.cs)? Sim

[2022-05-27 09:04] fwild commented on #919
At this opportunity: the wiki page seems outdated, it still speaks of adding a new augmentation to the listOfPois in ActionEditor.cs, while we have moved it to BrandConfiguration.cs and renamed to spareListOfAugmentations?

https://github.com/WEKIT-ECS/MIRAGE-XR/wiki/Augmentations

[2022-05-27 10:47] fwild commented on #919
Update: on HL2 it works, so this affects only the mobile UI

[2022-06-01 11:52] fwild opened #924 "Calibration marker instruction: "button" instead of "close""
The button on the laser eyes calibration hint dialogue has "button" instead of "close". This had been fixed in a previous version, but must have been reintroduced somehow?

iPad RC 1.9 (30.5.2022)

[2022-06-01 18:54] fwild opened #925 "Pick and place: drop down not working and lock not closing visually"
The drop down for behaviour is only in world space on iPad - and behind the spatial map.

the lock is not closing visually and stays always open, though the functionality is working.

[2022-06-01 18:54] fwild commented on #925
![244CF664-0711-4BEF-94AB-DA763DF6F08D](https://user-images.githubusercontent.com/183296/171480890-d0a7d25b-6770-44ac-b2dd-8e04c623acbb.png)

[2022-06-01 18:58] fwild opened #926 "Image marker: zoom factor wrong?"
The task station gets placed really close up, almost like the distance is calculated wrongly, or the origin is in screen space, not world space? That’s probably just the way it is on mobiles, but it definitely is too much zoom? Has nothing to do with the target size entered correctly, in fact it seems not to matter what I enter (100cm or 60cm seem not to make a difference).

![ECE7D7FB-9845-46B5-8

[2022-06-01 18:59] fwild commented on #926
In the picture: the painting is the marker, which tracks really well, but no matter how close I stand when pointing down at aura, then pointing up at painting, the task station diamond is always bang in the middle of the screen and very big.

[2022-06-02 07:19] #919 closed, assigned to jafarigit

[2022-06-02 07:45] fwild opened #927 "Image augmentation does not display image"
![Uploading 61CF9484-7041-4823-8AAE-413C4FDD4839.png…]()
RC 1.9 iPad 1.6.22

[2022-06-02 07:52] fwild opened #928 "Pick and place: target golfball shown in play mode"
The 3D model signifying the target location is displayed when switching to (or loading in) play mode.

[2022-06-02 07:54] fwild commented on #928
Similarly, the lock and the assign model button are shown. Seems the augmentation is not run in play mode.

[2022-06-02 08:00] fwild commented on #928
![Uploading 03048642-B69E-4799-872F-6DB1E9C84B70.png…]()

[2022-06-02 08:01] fwild commented on #928
Please also add a boundary box, so users can rotate and scale.

[2022-06-02 10:25] fwild commented on #917
It works flawless with the AI mode, though: you can talk to the AI (e.g. say "hello"), the AI talks back, lips move. Must be code specific to the audio recording.

[2022-06-02 10:26] fwild commented on #917
This bug does not appear in the editor, only on the mobile app (re-tested on iPad RC 1.9, 1.6.22). Not sure it exists on Hololens.

[2022-06-02 10:36] fwild commented on #889
Rechecked on ipad RC 1.9 from 1.6.22 - resolved. closing.

[2022-06-02 10:36] #889 closed, assigned to nobody

[2022-06-02 13:38] #786 closed, assigned to nobody

[2022-06-02 13:39] #654 closed, assigned to robhillman97

[2022-06-02 13:45] fwild opened #931 "Player tutorial for mobile UI / Hololens"
Add the player tutorial with a good set of demos.

[2022-06-02 13:52] #850 closed, assigned to nobody

[2022-06-02 14:02] fwild opened #932 "Calibration: Upload calibration marker to app store images"
Put the marker also with the images in the store, so users can get the marker from there, too.

[2022-06-02 14:02] fominykh opened #933 "Add credit and remove the logos of the partners from the loading (splash) screen"
The logos of the partner organizations need to be removed from the loading (splash) screen and put into a "Credits" screen, both in the HoloLens app and the mobile app.
The loading (splash) screen should display the WEKIT ECS logo and the name of the app MirageXR.

[2022-06-02 14:08] fwild commented on #763
This is redesigned in the new UI 2.0

[2022-06-02 14:08] #763 closed, assigned to nobody

[2022-06-02 14:18] fwild commented on #776
No longer the case (RC 1.9, 2.6.22). closing.

[2022-06-02 14:18] #776 closed, assigned to nobody

[2022-06-02 14:22] fwild commented on #235
Working, but with a bug in the packagemanager at the moment. closing, as this is a separate ticket.

[2022-06-02 14:22] #235 closed, assigned to BenediktHensen

[2022-06-02 14:23] fwild commented on #503
Ticket needs to be broken down into something actionable. Closing.

[2022-06-02 14:23] #503 closed, assigned to BenediktHensen

[2022-06-02 14:24] #491 closed, assigned to nobody

[2022-06-03 13:03] #917 closed, assigned to jafarigit

[2022-06-07 10:48] fwild commented on #928
This is still the case in the release 1.9, something is either not fixed or the release was not from the latest develop branch? @cawke @robhillman97

[2022-06-07 10:49] fwild commented on #926
No longer the case in release 1.9, closing the ticket.

[2022-06-07 10:49] #926 closed, assigned to robhillman97

[2022-06-07 10:49] fwild commented on #925
The dropdown is now working in release 1.9, but the golf ball is still visible in playmode.

[2022-06-07 10:50] fwild commented on #925
It is possible that the release was not from the latest develop?

[2022-06-07 10:50] fwild commented on #924
Btw: this happens only on iPad, not on Android.

[2022-06-07 11:22] fwild opened #938 "Character model AI mode not working on Android"
When switching a character model to AI mode, the speech recognition is not working. To test, say 'hello' and the transcript '"hello"' should show up in the box above the head of the character model, then the character will pause and reply with something. On Android, nothing happens, when you say 'hello'.

On iOS, it all works fine, which suggests it either has something to do with the microphone o

[2022-06-07 11:25] fwild commented on #928
I have redownloaded the android app and can confirm that it is fixed on Android, but it is not fixed on iOS.

[2022-06-07 11:26] fwild commented on #925
Lock works on Android, but does not work on iOS. The dropdown bug is fixed. Changing status to hotfix.

[2022-06-07 11:27] fwild commented on #927
Reopening, as it is fixed only on Android, but does not yet work on iOS.

[2022-06-07 11:47] fwild opened #939 "addressables - and updates of augmentation prefabs"
The addressables table affects releases - it has to be rebuilt for each platform, with every change of any prefabs or resources. At the same time, addressables can also be hosted online - allowing updates even post release. Investigate if we can step up our game regarding addressables.

[2022-06-07 11:50] fwild opened #940 "Improve visuals of aura and task station line"
If the aura had occlusion handling for your feet (or anything above the ground plane), it would look ab it cooler. Adding an alpha channel value with more transparency would make it look better, too. The floor lines could be more like a ribbon over the spatial map, or at least a stronger bezier curve so it runs straight on the floor in front of the user first, before linking to the task station. W

[2022-06-07 11:53] fwild commented on #401
It seems that a check if the prefab of an augmentation and the addressable of it are the same would have prevented some issues in the last release?

[2022-06-07 14:13] fwild commented on #939
Via @cawke:

Previously, we simply put resources in the Resourses folder and they were all pulled into the build automatically.

Now, the resources that are in the table must be collected in AssetsData (for each platform separately). If the prefabs have been changed, we need to rebuild AssetsData otherwise the old versions of prefabs will be in the new build.

It is best to write a custom build pr

[2022-06-07 18:00] fwild commented on #928
1.9.1 ipad - works now, closing.

[2022-06-07 18:00] #928 closed, assigned to robhillman97

[2022-06-07 18:01] fwild commented on #927
works now on 1.9.1 ipad, closing.

[2022-06-07 18:01] #927 closed, assigned to cawke

[2022-06-07 18:03] fwild commented on #925
works now on 1.9.1 ipad, closing.

[2022-06-07 18:03] #925 closed, assigned to robhillman97

[2022-06-08 10:53] fwild commented on #918
Glyph and vfx have now handles for rotations - on Android (1.9.1).

[2022-06-08 13:17] fwild opened #943 "Integrate readyplayer.me avatar + creator"
In addition to the built-in ghosts (male, female), we could support avatar creation like with ReadPlayer.me: https://docs.readyplayer.me/ready-player-me/integration-guides/unity/how-to-use#create-avatars-directly-in-unity-currently-android-only

This would have to include a web view for the configuration process to then download the .glb file. The glb file seems to be rigged already, as it support

[2022-06-08 13:19] fwild commented on #488
This is a duplicate of https://github.com/WEKIT-ECS/MIRAGE-XR/issues/871 - therefore closing this ticket.

[2022-06-08 13:19] #488 closed, assigned to nobody

[2022-06-08 13:35] fwild commented on #841
Dupe of https://github.com/WEKIT-ECS/MIRAGE-XR/issues/944, closing.

[2022-06-08 13:35] #841 closed, assigned to nobody

[2022-06-08 13:41] fwild opened #945 "Ghost: Add Player GhostTrack of the user"
It should be possible to record the GhostTrack of what the learners do in an ARLEM experience.

This recorded data cannot be stored with the ARLEM zip, as it logically is formative assessment data - akin to xAPI logs. A neat solution might be to store the GhostTracks into Moodle and then link the URL of the data file to an xAPI statement.

An idea for how to embed this in the UI could be to either

[2022-06-08 13:59] fwild commented on #798
I think this ticket needs to be rephrased - this probably more about indicating whether a ring is in a good position, so the author knows whether the expect trouble. I am closing this ticket now, but maybe you want to add a new one, @Santawat?

[2022-06-08 13:59] #798 closed, assigned to nobody

[2022-06-08 14:02] fwild commented on #686
Dupe of https://github.com/WEKIT-ECS/MIRAGE-XR/issues/854, closing this one.

[2022-06-08 14:02] #686 closed, assigned to nobody

[2022-06-08 14:09] fwild opened #946 "Character: parse control commands from dialogue text"
It should be possible to put "look at this %%point:5%%" into the speech output text of a dialogue response (in AI mode), which then should trigger execution of a procedural animation right when the character's speech output reaches the point where the control command was.

For example, from the above response, we would remove the string "%%point:5%%" and execute the point animation to point in the

[2022-06-08 14:13] fwild commented on #564
Fixed in 1.9, closing.

[2022-06-08 14:13] #564 closed, assigned to nobody

[2022-06-08 14:23] fwild commented on #946
Additionally, it would be great if we can incorporate branching commands like %%trigger:next%% (to move to the next action step) or %%go:1%% (to jump to step 1).

[2022-06-08 14:28] fwild commented on #494
@BenediktHensen I think a significant part of this has been done - the core now has proper event driven logic for activities and workplaces. Shall we close this ticket - or add a new one to refactor other parts of the system into an event-driven logic? what?

[2022-06-08 14:34] fwild commented on #496
- [ ] Assets/MirageXR/Common/Scripts/CombinedEditor/ActionDetailView/ActionDetailView.cs:87:        var activeTSdiamond = GameObject.Find(actionId).transform.Find("default").transform.Find("PlayerTaskStation(Clone)").gameObject; //TODO: possible NRE
- [ ] Assets/MirageXR/Common/Scripts/CombinedEditor/ActionDetailView/Annotation Editors/AudioEditor.cs:129:            var audioPlayer = GameObject.Fi

[2022-06-08 14:36] fwild commented on #496
- [ ] Assets/MirageXR/Player/Scripts/Augmentations/MirageXRPrefab.cs:153:                    //GameObject.Find(obj.id).transform.GetComponentInChildren<PathRoleController>(true).IsVisible = true;
- [ ] Assets/MirageXR/Player/Scripts/Augmentations/MirageXRPrefab.cs:245:                var tempTransform = GameObject.FindGameObjectWithTag("UserViewport").transform;
- [ ] Assets/MirageXR/Player/Script

[2022-06-08 14:37] fwild commented on #496
- [ ] Assets/MirageXR/Player/Scripts/Mobile/ContentEditors/PopupEditorBase.cs:42:        var originT = GameObject.Find(detectable.id);   // TODO: replace by direct reference to the object
- [ ] Assets/MirageXR/Player/Scripts/Triggers/SmartTrigger.cs:88:                var sensorObject = GameObject.Find ("Sensors/" + sensorId);
- [ ] Assets/MirageXR/Player/Scripts/Triggers/SmartTrigger.cs:285:

[2022-06-08 14:37] fwild commented on #496
To check:
git grep -n GameObject.Find

[2022-06-08 14:39] #643 closed, assigned to cawke

[2022-06-08 14:49] #444 closed, assigned to nobody

[2022-06-08 14:49] #651 closed, assigned to cawke

[2022-06-08 14:55] fwild opened #947 "Character: include prefab in ARLEM archive"
The character model prefab that is used should be packaged with the ARLEM zip archive, so that in the future we can replace models without compromising integrity. This will also allow inserting of bespoke characters via the Moodle web interface - of characters that are not part of the community edition distribution and thus need to be injected into the ARLEM archive.

[2022-06-08 14:59] fwild commented on #495
We have now two tickets for this: https://github.com/WEKIT-ECS/MIRAGE-XR/issues/943 and https://github.com/WEKIT-ECS/MIRAGE-XR/issues/947, therefore closing this issue.

[2022-06-08 15:00] #495 closed, assigned to nobody

[2022-06-08 15:04] #801 closed, assigned to nobody

[2022-06-08 15:05] fwild commented on #765
Btw: I believe this direct issue is now gone in release 1.9, right?

[2022-06-08 15:10] fwild commented on #924
Correction: this also happens on Android on 1.9.1 - must have overwritten an earlier correction in a preview release.

[2022-06-08 15:12] fwild opened #948 "Calibration: add floor plan"
Provide a "floorplan", e.g., for museum AR experiences: the map guides the user from task station to task station and from room to room, so they can discover the different action steps and (alternative) experiences.

A simple floor plan for the currently loaded experience is a good starting point - basically outlining the floor plane and showing where the calibration marker is and where the task s

[2022-06-08 15:35] fwild commented on #429
Is now much more stable. closing.

[2022-06-08 15:35] #429 closed, assigned to nobody

[2022-06-08 15:35] fwild commented on #387
dupe, closing this one.

[2022-06-08 15:35] #387 closed, assigned to nobody

[2022-06-08 15:55] fwild commented on #887
Heads up: we will remove the image marker augmentation in the future, integrating its functionality into the task station itself. Don't think this will affect you, but though I mention!

[2022-06-08 15:58] fwild commented on #692
@robhillman97 I believe you did this - the marker is now a lot more stable! Can you confirm and close, please?

[2022-06-08 16:00] fwild commented on #158
This has been broken into separate tickets, closing.

[2022-06-08 16:00] #158 closed, assigned to nobody

[2022-06-08 16:01] #178 closed, assigned to nobody

[2022-06-09 14:00] fwild commented on #692
Test on HL, then close.

[2022-06-09 14:02] fwild commented on #447
This should be the preferred default option - all the other ones (image target, calibration marker) should be 'expert' functionality

[2022-06-09 14:04] fwild commented on #816
Semi transparent, in a frame, floating in front of the user

[2022-06-09 15:44] fwild opened #949 "Calibration: redesign printed marker and add more printed markers"
We need to redesign the marker, so we can print them as a marketing measure. Rhomb-shaped coasters seem to be a popular format, if tracking works, but we can investigate other print formats as well.

Why multiple printed markers? This allows to decorate a room with several markers for different activities. Think hospital skills lab, for example - multiple markers could be used to calibrate an acti

[2022-06-09 19:44] jafarigit commented on #886
eRobson augmentation is added.

[2022-06-09 19:44] #886 closed, assigned to jafarigit

[2022-06-09 19:44] jafarigit commented on #888
All 3d models of the needed components are created and added to MirageXR

[2022-06-09 19:44] #888 closed, assigned to jafarigit

[2022-06-09 19:46] jafarigit opened #950 "Add all bits modules to the eRobson augmentation"
Add all bits modules to the eRobson augmentation. Currently only i3_button is added.

[2022-06-12 21:59] Alvareon opened #951 "The pictures should be standardized for the new UI."
Reimport the pictures for UI2.0
1. Import all icons to 512x512 px;
2. Import the buttons, borders and frames to 9-slice (see the example: Assets/MirageXR/Design/UI_Elements/PNG/Base/border_10.png).
3. Rename the pictures in an understandable names. For example: "Frame 336450" to "login_frame", etc (both in the Figma and Unity)

https://docs.unity3d.com/Manual/9SliceSprites.html

[2022-06-12 22:04] Alvareon opened #952 "Move Onboarding, Login, Register screens to the dialog window."

[2022-06-12 22:10] Alvareon opened #953 "Add new fonts to the project"
SF Pro Text, SF Pro Display

see: https://www.figma.com/file/AqAGvX0KRDNRlVz3KFzoMH/New-Concept?node-id=373%3A11005

Convert with TMP Font Asset Creator:
https://docs.unity3d.com/Packages/com.unity.textmeshpro@4.0/manual/FontAssetsCreator.html
(use for all font types: bold, italics, ... see current font)

Add special characters (Greek, Cyrillic, ...), see current font in the project.

Likely requi

[2022-06-12 22:14] Alvareon opened #954 "Implement SSO/Register functionality to the server"
Currently, users go to this web form to register: https://learn.wekit-ecs.com/login/signup.php
After a new user submits this form, they receive a validation email, and they have to click on the link embedded in the email to activate their account. Only after they clicked this activation link, the account is live, and the user can log in on the app.

This ticket is about embedding the registration

[2022-06-12 22:16] Alvareon opened #955 "Fix scrolling on the Register screen"
The issue is that we cant scroll the list if we begin the swipe on a text input field, because it activates the input for text entry on the first mousedown and we cant get to the drag.

[2022-06-12 22:24] Alvareon opened #956 "Implement new SortingView (the view) and SortingUIManager (the logic)"
For the activity list, build this functionality and view, so the user can sort.

[2022-06-12 22:27] Alvareon opened #957 "Update sorting prefab"
- update toggles and text;
- move PlayerPrefs to DBManager;
- fix toggle transition;

[2022-06-12 22:31] Alvareon opened #958 "Update New Activity screen according Figma"
The little preview window in the activity list.

[2022-06-12 22:36] Alvareon opened #959 "Main panel is go out down from the screen"
When browsing the activity list, the button panel below should slide away and hide (till browsing stops, then slide back in).

[2022-06-12 22:40] Alvareon opened #960 "Update blue tabbar"
add the text, reduce the spacing between buttons when plus button clicked

[2022-06-12 22:42] Alvareon opened #961 "Implement new ActivityView"

[2022-06-12 22:48] Alvareon opened #962 "Create click-and-drag handler for the element "Add new step here"."
![Add new step](https://user-images.githubusercontent.com/34060044/173256646-38dfbd43-aa45-4133-a686-02ced8938a0d.png)

[2022-06-12 22:49] Alvareon opened #963 "Implement new ActivitySettingsView"
![Screenshot 2022-06-16 at 15 04 23](https://user-images.githubusercontent.com/183296/174088027-5f82a075-705a-4c99-a066-5685e46bb47f.png)

[2022-06-12 22:54] Alvareon opened #964 "Implement dynamic HelpView"
Context help via the (i) button in the button bar:

![Screenshot 2022-06-16 at 15 06 38](https://user-images.githubusercontent.com/183296/174088546-e855d4d6-3357-4163-b42c-a4c585dc1dfe.png)

With the context help depicted on the right implemented using the tutorial manager.

[2022-06-12 22:55] Alvareon opened #965 "Add popup Step Settings"
![stepsettings](https://user-images.githubusercontent.com/34060044/176574993-5d2a2940-def1-4544-bc60-ea11b024a6db.png)

[2022-06-12 22:57] Alvareon opened #966 "Move AddImage screen to the dialog window"

[2022-06-12 22:59] Alvareon opened #967 "Implement StepsView"
![Screenshot 2022-06-16 at 15 11 51](https://user-images.githubusercontent.com/183296/174089417-395bbd59-d90d-49a7-bbd3-0245cf810a1f.png)

[2022-06-12 23:01] Alvareon opened #968 "Update btn "back to activity""

[2022-06-12 23:02] Alvareon opened #969 "Rewrite DialogWindow.cs for new UI"
add support for the vertical windows:

![Alert](https://user-images.githubusercontent.com/34060044/173397050-b825f0c9-a3a7-4e28-8418-533dee8e584f.png)

[2022-06-12 23:08] Alvareon opened #970 "Add editors for different content type"

[2022-06-12 23:11] Alvareon opened #971 "Add preview activity"
![Screenshot 2022-06-16 at 15 20 04](https://user-images.githubusercontent.com/183296/174091086-472da013-d4f2-4ce0-8762-7f7b0dd96989.png)

![Screenshot 2022-06-16 at 15 20 42](https://user-images.githubusercontent.com/183296/174091239-360d467e-5be1-40e1-af35-d867f9ee1068.png)

[2022-06-12 23:12] Alvareon opened #972 "Implement DeleteActivity"

[2022-06-12 23:13] Alvareon opened #973 "Add calibration screen"
![calibration2](https://user-images.githubusercontent.com/34060044/175178801-809d0589-7fb1-45f8-bda8-9818e4664abf.png)

[2022-06-12 23:21] Alvareon opened #974 "Update ContentSelectorView"
Augmentation selector:
![Screenshot 2022-06-16 at 15 22 10](https://user-images.githubusercontent.com/183296/174091544-0174ccbd-964c-49ce-b2af-7b2ed041b058.png)

[2022-06-12 23:28] Alvareon opened #975 "Update top buttons on the main screen"
![btns](https://user-images.githubusercontent.com/34060044/173257946-0bb0c695-307f-4430-aebf-eb46a6cb96f7.png)

[2022-06-14 09:57] jafarigit commented on #950
Done

[2022-06-14 09:57] #950 closed, assigned to jafarigit

[2022-06-14 09:59] jafarigit opened #979 "Animation of bits"
Create/import the animations of the bits which need to be animated (eg. fan, dc motor, etc.)

[2022-06-14 19:54] fwild opened #980 "Mobile: Re-editing 3D model opens glyph edit panel"
When you tap on an existing 3D model augmentation in the action step's augmentation list, the 'action' glyph panel opens instead.

[2022-06-14 20:16] fwild commented on #910
On all platforms we have found repeatedly that test builds had forgotten to include the sketchfab secret - see https://github.com/WEKIT-ECS/MIRAGE-XR/wiki/Compiling-MirageXR#api-keys

[2022-06-14 20:18] fwild commented on #910
I have retested on HL2, 1.9 release, and the bug is gone. If it ever reappears - this is likely to do with the build not including the sketchfab secrets, see above.

[2022-06-14 20:18] #910 closed, assigned to Callustian

[2022-06-15 12:13] jafarigit opened #981 "Create the Port class"
Create the port class which will detect the connected port and be connected to that port. The port class will detect the type of the connected bit as well.

[2022-06-15 23:50] Alvareon commented on #960
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/982

[2022-06-15 23:50] Alvareon commented on #975
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/982

[2022-06-16 08:36] fwild commented on #981
Is this mqtt? or which protocol? Because we do have mqtt support already integrated (and I would think that any similar IoT protocol could simply piggy back on thse...

[2022-06-16 12:38] fwild opened #983 "Include Calibration Marker in BrandManager"
It should be possible to replace the Calibration Marker with any other calibration marker (or better even: a set of markers) via the BrandConfiguration.

[2022-06-16 13:16] fwild opened #985 "Add sketchfab credentials injection to pipeline"
Dupe: https://github.com/WEKIT-ECS/MIRAGE-XR/issues/551

Maybe similar to how we use IBM watson's API keys:
https://github.com/WEKIT-ECS/MIRAGE-XR/blob/master/.github/workflows/windows_workflow.yml
(line 26ff)

Try to reduce it to use only the json file - and set this as a github secret

[2022-06-16 13:17] fwild opened #986 "Hotfix 1.9 to add the LRS patch"
and release for all platforms

[2022-06-16 13:48] fwild commented on #952
<img width="663" alt="Screenshot 2022-06-16 at 14 45 22" src="https://user-images.githubusercontent.com/183296/174084112-6e333370-c47b-4b99-bdf3-159eae600b13.png">

[2022-06-16 13:57] cawke commented on #953
![image](https://user-images.githubusercontent.com/20320355/174086236-61cae851-e42a-47e1-9a8a-0868135ea738.png)

[2022-06-16 14:14] fwild commented on #970
Heads-up: currently, when you re-edit a 3D model, it brings up the action augmentation edit panel.

[2022-06-17 13:33] fwild commented on #966
User requests that it should be possible to also use .png, not just .jpg - so they can use transparency effects!

[2022-06-17 14:45] fwild commented on #784
A user pointed me to this, cause they quite liked the controls: https://youtu.be/DraVDdkPvP4?t=167

[2022-06-21 13:44] fwild commented on #845
This is what the lighting should look like...:

<img width="399" alt="Screenshot 2022-06-21 at 14 42 00" src="https://user-images.githubusercontent.com/183296/174814455-6f867693-d18c-4a33-987c-095c41a6da38.png">

[2022-06-22 08:11] #986 closed, assigned to nobody

[2022-06-22 23:48] Alvareon commented on #973
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/988

[2022-06-22 23:49] Alvareon commented on #955
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/988

[2022-06-23 13:29] #764 closed, assigned to nobody

[2022-06-29 14:37] Alvareon commented on #957
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/992

[2022-06-30 01:46] Alvareon commented on #965
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/993

[2022-06-30 13:57] Alvareon commented on #787
The new screens already created. We've broken this task into smaller tasks for convenience (see Version 2.0). We can close the task.

[2022-06-30 13:57] #787 closed, assigned to fominykh

[2022-06-30 13:58] #975 closed, assigned to Alvareon

[2022-06-30 13:58] #960 closed, assigned to Alvareon

[2022-06-30 13:59] #957 closed, assigned to Alvareon

[2022-06-30 13:59] #973 closed, assigned to Alvareon

[2022-06-30 13:59] #955 closed, assigned to Alvareon

[2022-07-06 19:26] #965 closed, assigned to Alvareon

[2022-07-12 18:26] jafarigit commented on #981
By port  I meant the port of the bit components like minus or plus port

[2022-07-12 18:26] jafarigit commented on #981
This task is done

[2022-07-12 18:26] #981 closed, assigned to jafarigit

[2022-07-14 13:56] Callustian opened #998 "Added disk space information to GitHubAction"
Linked to #929. Worked on branch 929_pipeline_stops

[2022-07-14 14:17] Alvareon opened #999 "Change the reference resolution for the new mobile UI"
Old reference resolution 600x800 (aspect ratio 4:3)
New reference resolution 720x1280 (aspect ratio16:9)

we need check and update all screens:

![resolution](https://user-images.githubusercontent.com/34060044/179003538-4951084d-c6a4-40cd-880a-e4d3e2d488b2.png)

[2022-07-14 14:20] Alvareon commented on #999
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/995

[2022-07-14 14:22] #999 closed, assigned to Alvareon

[2022-07-17 09:33] jafarigit opened #1000 "Spatial UX: SR3: Turn off aura"
I have noticed that when you are trying to add some augmentations on a table, the aura circle will come over the table and it will make both confusing and development issues for some of augmentations (eq. eRobson). It would be better if we could disable it on mobile since we have home button and the lists on screen now. We do not need the circle on mobile.

![Screenshot_20220717-112249_MirageXR](h

[2022-07-18 08:30] jafarigit commented on #979
Done

[2022-07-18 08:30] #979 closed, assigned to jafarigit

[2022-07-18 08:49] jafarigit opened #1001 "Fix snap effect works correctly on markers"
Snapping works fine on eRobson augmentation now, however if you spawn the bit on detected markers the snap effect not works as expected.

[2022-07-20 11:59] Callustian commented on #913
Working on 913_cnr_itd_logo

[2022-07-21 12:30] Alvareon commented on #962
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1002

[2022-07-24 01:52] #962 closed, assigned to Alvareon

[2022-07-24 22:21] Alvareon opened #1003 "Add back button to the Login page"
![InkedEnter2](https://user-images.githubusercontent.com/34060044/180668075-edfdf07b-32f5-4c21-8fb3-8fb0c7cb163b.jpg)

[2022-07-28 13:29] fwild opened #1006 "Android: weekly build crashes upon start"
The first weekly build for V2.0 worked at first, but then stopped working from last week to this week. I reinstalled the second weekly build for V2.0, and it crashes the same way. My phone says "last update: March 22, 2022", so its not a recent update?
Android 10, Kernel 4.9.118023733677

[2022-07-29 14:03] fwild commented on #1000
We discussed this in the past, and had found consensus in removing the aura, when to close to the user. So the aura would still be there, if you stand, but would be removed if you are closer than 1m (or so) to the aura. Can we agree on this?

[2022-08-01 18:30] fominykh opened #1007 "SDK update - Advertising ID - Google Play"
Here is a message from Google:

Your app com.WEKIT.MirageXR version code 2166 includes SDK com.unity3d.ads:unity-ads or an SDK that one of your libraries depends on, which collects personal or sensitive data that includes but may not be limited to Advertising ID, Android ID identifiers. Persistent device identifiers may not be linked to other personal and sensitive user data or resettable device i

[2022-08-02 18:19] #1003 closed, assigned to Alvareon

[2022-08-03 10:28] fwild opened #1008 "UserGuide in the Wiki"
What do you think about if we added the user guide into the wiki here?

[2022-08-03 18:11] Alvareon opened #1010 "Update Login background"
- divide the background into 3 separate pic
- remove blur

![background](https://user-images.githubusercontent.com/34060044/182678370-31c769da-3147-4885-ba09-e69c2eb7cbb1.png)

[2022-08-03 18:21] Alvareon commented on #1010
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1011

[2022-08-04 10:38] robhillman97 opened #1012 "Implement Profile page"

[2022-08-04 13:51] fwild opened #1013 "Refactor ImageTargetController into ImageTargetManager"
Currently, we have already an implementation, but it does not have a register routine, and some of the code seems specific to the launch of activity editor:

https://github.com/WEKIT-ECS/MIRAGE-XR/blob/eROBSON_Project/Assets/MirageXR/Common/Scripts/CombinedEditor/ActionDetailView/Annotation%20Editors/ImageMarker%20Prefabs/ImageMarkerController.cs

Code of eRobson currently registers a full image l

[2022-08-04 13:52] fwild commented on #1013
Whether the register routine accepts only strings with filename or an image instead (an item of the XRReferenceImageLibrary) - that can be still discussed!

[2022-08-04 13:54] fwild opened #1014 "Build 'launcher' facilities for augmentations (edit mode only)"
We need a possibility for augmentations to launch 'bootstrapper' code when the editor is started (!= when the augmentation is instantiated, as this happens a lot later).

Why?

This can then be used, for example, to register image targets with the ImageTargetManager, so that a specific augmentation is added and instantiated automatically whenever the image target printed on a card is recognised in

[2022-08-04 14:51] fwild commented on #1014
Here is an example how eRobson would use this facility:

eRobsonAugmentationLauncher

private XRReferenceImageLibrary _imageLibrary;

Start() {
EventManager. OnEditModeChanged += registerImageLib;
} // don’t forget to deregister!

registerImageLib( bool editModeActive) {
   if (editModeActive) {
      for each image in imagelibrary
         ImageTargetManager.register(image, onImageChanged)
     }

[2022-08-04 14:51] fwild commented on #1014
Quick patch for eRobson, while this facility is not yet available: add the eRobsonAugmentationLauncher to the editor scene, so it gets launched and catches the event

[2022-08-04 15:20] fwild commented on #1014
Mind it: probably, the eRobson launcher would want to offer a overlay button to add the augmentation, not just directly add each augmentation whenever the marker is visible. Otherwise you look at the box with all cards, and all augmentations pop up suddenly!

[2022-08-04 18:50] #1010 closed, assigned to Alvareon

[2022-08-10 12:49] cawke commented on #1013
How I see it
https://drive.google.com/file/d/1BhAzOOPH9RsN_f1rQBYfvL0MTX1Xfc5h/view?usp=sharing
![image](https://user-images.githubusercontent.com/20320355/183905199-59bf1254-9c8e-4694-8f45-bfb06187b667.png)

[2022-08-11 01:15] Santawat opened #1016 "Onboarding tutorial does not show correctly on tablet/landscape mode"
![Screenshot_20220811-021003_MirageXR](https://user-images.githubusercontent.com/104147373/184048828-12c92fe3-91cc-486d-a8ca-be3cb850a4d2.jpg)

[2022-08-18 15:32] jafarigit commented on #887
Since we are going to use the new imageMarkerManager, I will close this ticket

[2022-08-18 15:32] #887 closed, assigned to jafarigit

[2022-08-22 12:04] fominykh opened #1020 "New UI layout for tablets"
Currently:
The new UI does not have a proper layout on tablets (specifically on an iPad). See screenshots.
![2022_08_21_Image from iOS-test-flight-02](https://user-images.githubusercontent.com/10297277/185917519-36242cce-88c1-4537-ab50-4a977cd0463c.png)
![2022_08_21_Image from iOS-test-flight-01](https://user-images.githubusercontent.com/10297277/185917525-40530c3e-047a-46c9-a2bc-fb94a2198144.png)

[2022-08-22 12:32] #913 closed, assigned to Callustian

[2022-08-22 21:39] cawke opened #1021 "UI_Kit"
Сreate a set of basic prefabs

Texts
![image](https://user-images.githubusercontent.com/20320355/186023155-f5c6e42c-12c8-46a2-b351-eb6970e025c4.png)

Buttons
![image](https://user-images.githubusercontent.com/20320355/186023231-5fb3f709-a189-4070-8db1-6bed39f40dda.png)

Text Field
![image](https://user-images.githubusercontent.com/20320355/186023271-03cac941-52f5-4c01-b93a-d75e36bd64f6.png)

Togge

[2022-08-23 11:25] robhillman97 opened #1023 "Load activity from activity select page"
Allow activities to be loaded by clicking the tile on the activity selection (home) page

[2022-08-23 14:36] robhillman97 opened #1024 "Search for activity"
Implement search for activity page

[2022-08-24 21:54] Alvareon commented on #1021
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1027

[2022-08-25 11:03] #924 closed, assigned to Callustian

[2022-08-25 13:27] fwild opened #1031 "Migrate develop to 2021"
Since we had to update to a newer 2020 LTS version for AR foundation / AR core, we should go through with the 2021 update. Choose latest stable LTS version to update to (there might be a new one coming out today). Update code, check if anything breaks, and merge on develop.

[2022-08-25 13:28] fwild opened #1032 "Update CI pipeline to new image"
Update image in YML file, get activation file (uncomment lines 36+ in the .gitlab-ci.yml) and activate on Unity, put into the CI secrets.

[2022-08-25 13:34] fwild commented on #953
So, this is now done, right? @Alvareon

[2022-08-28 22:25] #1021 closed, assigned to Alvareon

[2022-08-31 09:44] robhillman97 opened #1033 "Add triggers to pick and place"
Pick and place could benefit from being able to trigger events such as changing action step or showing new augmentations in an action step for example

[2022-09-01 00:42] Alvareon commented on #953
added SF Pro Text and SF Pro Display

[2022-09-01 00:43] #953 closed, assigned to Alvareon

[2022-09-01 12:03] Alvareon opened #1036 "Create new ContentSelector and ContentSelectorListItem prefabs"
![Select type](https://user-images.githubusercontent.com/34060044/187909401-24dcade8-ba4c-43cc-8f03-74fc3fdf98bf.png)

[2022-09-01 19:22] #969 closed, assigned to cawke

[2022-09-02 13:15] fwild opened #1041 "Label/action triggers cause crash due to faulty ARLEM"
When using triggers on a label or action, faulty activity data is generated (wrong type 'none' is used, but is expecting 'action'). This causes the app to crash.

Needs fixing on the release branch as a hot fix, affects all platforms.

[2022-09-05 15:00] jafarigit opened #1042 "Next step task station is movable"
IF you create a new step and go back to the previous step, you can move the blue diamond (The next step task station)

[2022-09-08 09:04] fwild opened #1044 "Release 1.9: image augmentation crashes (iOS) or resets app (Android)"
When you add an image augmentation in the activity "William's family 2" (WEKIT server), and go to step "sofa", then click edit, then add image augmentation, take a photo, press "accept" in the OS dialogue - the app will restart (Android) or crash (iPhone). It does not crash on iPad, so it seems to be either a memory issue or resolution related?

[2022-09-08 09:17] fwild opened #1045 "QR code from Moodle opens app, but does not trigger download"
We have this feature in Moodle that you can get a link to the activity to start it. It seems it has stopped working for me. Pointing the native OS camera app at the code gives me the link, and the link opens the app (as it is correctly registered for the new protocol "wekit://"), but the app does not initiate the download of the activity.

![QR-code](https://user-images.githubusercontent.com/18329

[2022-09-08 09:22] fwild commented on #1006
Was due to the faulty "Google Play AR services" (v1.32 Google ARcore). With release 1.33 this is fixed, therefore closing.

[2022-09-08 09:22] #1006 closed, assigned to nobody

[2022-09-08 09:25] fwild commented on #938
It seems we traced this back to missing IBM watson credentials!

[2022-09-08 13:06] fwild opened #1046 "Display warning message if permissions are not granted"
It is possible to decline the camera, but then you only see a gray horizon background instead of the video feed - and the users don't know how to fix that.

[2022-09-08 13:17] fwild commented on #1044
For my phone, it usually does not happen, when I start a fresh activity.
But it seems to happen on some phones all the time, or almost all the time.

[2022-09-08 13:21] fwild commented on #1044
Interestingly, I can add an image in step 1 of "William's family 2" without problems, but it crashes if I try the same in the step named "sofa". It is also much slower by then to open the camera - seems to indicate some running out of memory or memory leak?

[2022-09-08 13:33] fwild commented on #586
@Santawat last time you said that this is now working. Can you please confirm / close this ticket?

[2022-09-09 08:24] #1024 closed, assigned to robhillman97

[2022-09-09 08:24] #1023 closed, assigned to robhillman97

[2022-09-09 08:24] #795 closed, assigned to robhillman97

[2022-09-09 08:24] #914 closed, assigned to robhillman97

[2022-09-09 14:11] fwild opened #1047 "iPad 7 crash after logos"
Release 1.9.2 crashes on 7th generation iPads (released 2019), after the logos are displayed and before the activity list is shown.
We don't know why, and the attached crash log seems rather inconclusive.

[testflight_feedback.zip](https://github.com/WEKIT-ECS/MIRAGE-XR/files/9536121/testflight_feedback.zip)

[2022-09-11 11:52] Alvareon commented on #1036
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1048

[2022-09-11 17:06] Alvareon commented on #970
[the part 1](https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1048)

[2022-09-12 19:30] Santawat commented on #586
@fwild Yes this is working now, I am closing this issue

[2022-09-12 19:30] #586 closed, assigned to cawke

[2022-09-14 08:15] #1012 closed, assigned to robhillman97

[2022-09-21 10:05] fwild opened #1049 "dissection slider for 3D models"
Would be cool to have a dissection slider for 3D models - e.g. for architecture. Which could be activated in the editor panel with a checkbox "[ ] enable dissection"

[2022-09-22 13:43] fwild opened #1050 "Improve debug logging to enable higher levels of verbosity"
To diagnose root causes, especially on the TestFlight app or debug versions we can send out to users who have hardware that we don't support yet - we will need better debugging. So we can see which system causes trouble, and where it breaks.

Here are some verbosity levels we could adopt: https://symfony.com/doc/current/console/verbosity.html

It would be helpful if these have a hidden user interf

[2022-09-28 14:36] fominykh opened #1052 "The HoloLens UI warning overlaps other UI when trying to upload without loggining in"
How to reproduce:
1. Start the app on HoloLens (develop 1.9.154)
2. Log OUT
3. Try to upload the activity to the cloud
4. Receive a warning that overlaps other UI text (see screenshot - bad screenshot, but the red warning test is visible)
![20220928_163011_HoloLens](https://user-images.githubusercontent.com/10297277/192807266-3d3932c0-fe2a-466e-851d-d8c666989650.jpg)

[2022-09-28 15:27] fominykh opened #1053 "The upload "Progress" UI message is visible in the Play mode"
How to reproduce:
1. Create an activity on HoloLens 2 (version 1.9.154) and save it locally without logging in.
2. Open activity to play on HoloLens2.
3. Observe that "Progress" shows up on the task list window (screenshot)
4. Switching to the Edit mode displays the "save" and "upload" buttons
5. Switching back to play mode hides the two buttons, but the word "Progress" is still visible
![20220928

[2022-09-28 15:32] fominykh commented on #599
Interacting with the Home button on the Aura is not absolutely impossible.
The quick fix suggested by @BenediktHensen will not work, I think. Even if we make the Aura double the size, the HoloLens hand rays will not be casted on the floor at all.
![20220928_172822_HoloLens](https://user-images.githubusercontent.com/10297277/192821448-7630df8e-e950-45d9-ae3f-d80ce5e8a714.jpg)

[2022-09-28 15:36] #1036 closed, assigned to Alvareon

[2022-09-28 15:57] fwild commented on #599
Yes, I think we should rahter think about moving all those icons to a hand-palm-based menu?

[2022-09-28 16:08] fominykh commented on #599
Yes, let's design it. I think the hand menu can contain:
1. Home menu elements (instead of floating, all Home menu elements, including settings, login etc. can be in the hand)
2. Task list

[2022-09-29 12:24] #961 closed, assigned to Alvareon

[2022-09-29 12:54] Alvareon commented on #958
![555](https://user-images.githubusercontent.com/34060044/193036758-045ed906-3494-4de3-b572-36a59f4f9602.png)

[2022-10-06 11:18] Alvareon commented on #958
TODO:
- remove navigation buttons
- use tap instead of navigation buttons
- move edit button (?)

[2022-10-06 13:36] fominykh commented on #958
The vertical spaces between the elements on this screen are too large compared to the design.
![image](https://user-images.githubusercontent.com/10297277/194327073-fca96675-9c32-4052-adef-4a816b01afac.png)
![image](https://user-images.githubusercontent.com/10297277/194327307-48c22c58-727c-4722-9626-04c6e2baf474.png)

[2022-10-07 12:07] #952 closed, assigned to cawke

[2022-10-07 12:09] #968 closed, assigned to Alvareon

[2022-10-07 12:09] #967 closed, assigned to robhillman97

[2022-10-07 12:09] #963 closed, assigned to robhillman97

[2022-10-12 12:43] fwild opened #1061 "ghost flashes before landing in correct position"
The ghost augmentation (maybe also others? please check) is displayed first, and only then resized/repositioned to the correct target position. This is probably simply moving the gameobect.isactive=true after the positioning?

[2022-10-12 12:43] fwild opened #1062 "lip movement for ghost"
If the ghost has audio, it should move its lips.

[2022-10-12 13:26] fwild opened #1063 "Character: AI mode: parse trigger control command"
Let's allow the control command "%%trigger%%" in responses of the character model when in AI mode. This means modifying OnResponseReceived to clip the control command from the text response, still play it, and afterwards trigger the next action step.

[2022-10-12 13:32] fwild opened #1064 "Allow trigger for pick&place"
When correctly placed: trigger next step. If there are several pick&place augmentations: allow auto progression only for when the last one is correctly placed.

[2022-10-12 14:00] robhillman97 opened #1065 "Save pick and place object rotation"
Currently the pick and place objects will bounce back to there original position but will remain in the rotation as they were let go in. The objects should bounce back in the same rotation as they were set in originally.

[2022-10-12 14:19] fwild opened #1066 "add trigger to ghost: fix audio step trigger on ghost"
When recording the audio of the ghost, it is already possible to set the audio trigger (to advance to the next step automatically, once audio finishes playing). It seems, because we bypass the normal audio play routines in the ghost controller, that the trigger is not actually executed. Fix.

[2022-10-20 02:28] Alvareon commented on #958
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1074

[2022-10-20 09:04] fwild opened #1077 "Android pipeline signing error"
The linux pipeline produces the following error:
2022-10-20T05:51:34.7492776Z UnityException: Can not sign the application
2022-10-20T05:51:34.7499425Z Unable to sign the application; please provide passwords!

This seems to have to do with this:
https://forum.unity.com/threads/android-build-error-can-not-sign-application-unable-to-sign-application-please-provide-passwords.379614/

[2022-10-20 09:05] fwild commented on #1077
Might be due to version migration:
https://answers.unity.com/questions/1713135/suddenly-i-cant-build-my-game-on-android-unable-to.html:
"Uh-oh my bad. anyone having this issue just go file->build and run, then player settings->publishing settings and create a new keystore password."

[2022-10-27 12:36] #1063 closed, assigned to robhillman97

[2022-11-02 18:48] cawke commented on #972
![image](https://user-images.githubusercontent.com/20320355/199576280-162b862a-671a-4bc7-9dde-103e7387631e.png)

[2022-11-03 01:08] Alvareon commented on #959
https://github.com/WEKIT-ECS/MIRAGE-XR/pull/1095

[2022-11-03 01:11] Alvareon opened #1096 "Create a panel "keep alive 2-2""
![Picker](https://user-images.githubusercontent.com/34060044/199630263-7ce86b30-d9c2-4331-badd-b86c5e3859a4.png)

[2022-11-03 14:49] fwild commented on #815
Moodle does not provide an API for that, so let's not implement this for now, but simply link to the web signup page.

[2022-11-03 14:49] #815 closed, assigned to nobody

[2022-11-03 14:49] fwild commented on #954
SSO projects do not provide an API for that, so let's not implement this for now, but simply link to the web signup page.

[2022-11-03 14:49] #954 closed, assigned to nobody

[2022-11-03 14:55] fwild commented on #662
* Let's make sure that we have the editor tutorial (and player tutorial) in the new UI! The old UI has it!

[2022-11-03 14:59] fwild opened #1099 "Fetch thumbnail from Moodle link directly"
For the activity list, we need to be able to fetch a thumbnail for each ARLEM without downloading the full ARLEM zip, so we can render the activity list quickly.

See also: https://github.com/ARETEedu/moodle-mod_arete/issues/96

[2022-11-03 15:00] fwild commented on #1099
If no image link is provided in the json list of activities, a standard image should be chosen in app.

[2022-11-03 15:06] fwild commented on #813
@fominykh any news? do we have them?

[2022-11-03 15:09] fwild commented on #998
Maybe add documentation to the Wiki page and then close the ticket?

[2022-11-06 10:44] fwild opened #1101 "Replace base IRI for xAPI statements"
wekit-community.org has been taken over by domain grabbers, so the base IRI needs to be changed to something new (wekit-ecs.com).

[2022-11-06 10:44] #1101 closed, assigned to fwild

[2022-11-06 10:45] fwild commented on #1077
Resolved: just untick the "custom keystore" checkbox in player publishing settings, and the apk will be signed with a ad hoc development key.

[2022-11-06 10:45] #1077 closed, assigned to nobody

[2022-11-06 10:46] #1032 closed, assigned to BenediktHensen

[2022-11-06 10:47] #1031 closed, assigned to BenediktHensen

[2022-11-06 10:47] fwild commented on #1041
@robhillman97 this is fixed, right?

[2022-11-06 10:51] fwild commented on #985
@cawke I would happily tackle this (as I would with the keystore signing cert, but we don't need that now). But it currently is not easy to inject, as the sketchfab augmentation requires a prefab, not just an API secret in a file or environment variable. Is there a possibility to get rid of the prefab or make it pull the key from file?

[2022-11-08 18:08] fominykh commented on #813
Update: needed to update them, could not work with the original designer. A new designed in on the task now.

[2022-11-10 14:43] fwild commented on #971
Should do the following: switch to playmode

[2022-11-10 14:43] fwild commented on #971
(same as the edit toggle on top)

[2022-11-10 14:51] fwild opened #1104 "No back navigation when clicking accidentially on "Activities""
When the user accidentally clicks on "Activities" (Home Icon), there is no possibility to get back to the currently open activity.

[2022-11-10 14:52] fwild commented on #1104
One idea would be: highlight the currently loaded activity in the activity list (and list it on top), and then the user can click on it to get back to the activity dialogue?

[2022-11-10 14:59] fwild opened #1105 "Prev / Next buttons on collapsed activity panel missing"
The prev/next buttons to go back / go forward are missing on the small collapsed activity steps panel:

<img width="360" alt="image" src="https://user-images.githubusercontent.com/183296/201125946-295f757b-8e2f-41c4-8204-70ab9115d677.png">

This is what you currently see (build 1.9.211):

![image](https://user-images.githubusercontent.com/183296/201126594-2d47fa38-a72b-426f-a7cc-83eaa953b7e2.png)

[2022-11-10 15:00] fwild commented on #1105
I also think that we should hide "Activity settings", "steps", "info", "calibration" from this collapsed view.

[2022-11-15 21:25] fominykh opened #1106 "Preview image does not appear on the list of activities"
How to reproduce:
1. Create or open activity
2. Upload a preview thumbnail image
3. Save activity
4. Find the activity in the list of Activities and observe that the preview image did not change from the default one

![image](https://user-images.githubusercontent.com/10297277/202027976-6ae25b2d-7d0e-44c5-9b0d-2cc462b338ad.png)

[2022-11-15 21:29] fominykh opened #1107 "The add new step element disappears when tapping on it"
How to reproduce:
1. Open activity to edit
2. Open steps
3. Tap on the Add new step "stripe" element (not on the + symbol)
4. Observe that the element disappears
5. Switch edit off and on to get the element back

[2022-11-15 21:33] fominykh opened #1108 "Back to Activity link is shown on the Activity screen"
Currently in the new UI,

The Back to Activity link is shown also on the Activity screen. The link leads to Home (list of activities)

Should be:

On the Activity screen, the link should be Back to home.

[2022-11-16 09:33] fwild commented on #1108
This is linked to https://github.com/WEKIT-ECS/MIRAGE-XR/issues/1104

[2022-11-17 14:34] fwild commented on #1104
Danger: if there is only a "undo" of the back to home (= displaying only the action step panel again, instead of reloading), then you can never restart an activity.

[2022-11-17 14:35] fwild commented on #1104
Might need a choice button: resume, restart, open for edit

[2022-11-17 14:38] fwild commented on #1107
I can reproduce this, same prob here on my device (Android)

[2022-11-18 15:52] fwild opened #1109 "Motorola Edge 30 Pro uses landscape screen lay-out"
Seems the resolution of 2400x1080 fools MirageXR into thinking this is a tablet?

[2022-11-21 13:21] fwild opened #1110 "Change order of augmentations in edit mode"
The order of the augmentations should follow the order as listed in figma.

[2022-11-21 13:22] fwild opened #1111 "Update info texts for augmentations"
The info texts for all augmentations are not the one the design and ux team agreed on.

[2022-11-21 13:26] fwild opened #1112 "Failing sketchfab auth makes app break"
If the sketchfab token is expired, the app hangs, and the augmentation dialogue cannot be closed anymore. This happens, I think, when updating to newer versions, and an old api token is still in the system. What should happen instead is offer the login again to force token renewal.

[2022-11-23 13:27] fominykh commented on #813
shared preliminary animations in Slack

[2022-11-24 14:35] fwild opened #1116 "add locate function"
Currently, the locate function is still missing (= non-functional context menu entry) for augmentations. Reattach.

[2022-11-27 19:38] fwild commented on #1045
I restested today on the last development build I have installed, and this is still the case. It does not open.

[2022-11-28 11:19] fwild opened #1117 "fonts still broken in android pipeline build"
When installing the Android build from the pipeline, most type is missing. Example: the button text on the panel where you choose between old and new interface.

[2022-11-30 11:56] fwild commented on #1117
Though I don't think it is required, I have added the font installation routine to the build stage on the linux pipeline. There was nothing in the logs indicating a missing font (which previously was the case, before I added the font installation routine), so I doubt that this fixes the problem.

I have noticed in the logfiles though that:

The web says that this can sometimes corrupt the Library

[2022-11-30 13:08] robhillman97 opened #1118 "New/Old Ui buttons on Temp Start not working"
the references to the new and old UI in the temp start  inspector have been removed due to a variable name change